@import('~nib/index')

.ye-action
	z-index 20

.ye-action-backdrop
	z-index 19

.mdx-fab-action
	md-icon
		transition transform .25s ease
		&.cross
			transform rotate(135deg)

.action__wrapper
	bottom 6px
	height 56px
	left 0
	position absolute
	width 56px
	.md-fab
		transform scale(0)
		position: absolute
		transition transform .25s ease-in-out !important
		&.show
			transform scale(1)

.md-fab.md-fab-s
	transition transform .25s ease-in-out, position .25s ease-in-out, margin-top .25s ease-in-out
	transform scale(0) !important
