@import('~nib/index')

/* Start Variable Declaration */

title-background = rgb(0, 121, 107)
title-colour = rgb(225,225,225)
content-background = rgb(0, 150, 136)
content-main-colour = rgb(225,225,225)
content-secondary-colour = rgba(255, 255, 255, 0.5)
background-colour = rgb(255, 255, 255)
text-colour = rgb(32,32,32)
unselectable-text-colour = rgb(115,115,115)
today-text-colour = rgb(0, 150, 136)
selected-text-colour = background-colour
selected-background-colour = rgb(0, 150, 136)
hover-text-colour = darken(selected-text-colour, 10%)
hover-background-colour = lighten(selected-background-colour, 10%)
button-text-colour = rgb(0, 150, 136)
clock-background-colour = rgb(236,239,241)

clearfix()
	&:after, &:before
		display: table;
		content: " "
	&:after
		clear: both

content-height = 20.9rem

clock-radius = 75

/* End Variable Declaration */

/* Start Main Styling */

.visuallyhidden
	visibility: hidden

.time-date
	overflow: hidden
	border: none
	width: 46.1rem
	font-size: 1.2rem
	& > .display
		position: relative
		width: 47%
		height: 100%
		cursor: pointer
		transition: color 0.6s ease-in-out
		& > .title
			background-color: title-background
			color: title-colour
			line-height: 2.5rem
		& > .content
			position: absolute
			left: 0px
			right: 0px
			bottom: 0px
			top: 2.4rem
			padding: 2.3rem 0
			font-size: 1.5rem
			background-color: content-background
			color: content-main-colour
			& > .super-title
				text-transform: uppercase
			& > .main-title
				font-size: 6.1rem
				line-height: 6.1rem
				height: 6.1rem
				& > small
					font-size: 1.1rem
					margin-left: 0.3rem
			& > .sub-title
				color: content-secondary-colour
	& > .control
		width: 53%
		overflow-x: hidden
		position: relative
		& > .full-title
			display: none
			background-color: title-background
			color: title-colour
			line-height: 2.4rem
		& > .slider
			position: absolute !important
			width: 200%
			transition: left 0.6s ease-in-out
			& > .date-control, & > .time-control, & > .switch-control
				float: left
				height: content-height
			& > .date-control, & > .time-control
				width: 45%
				overflow-y: hidden
			& > .switch-control
				width: 10%
				cursor: pointer
				padding: 0 0.6rem
				& > i.fa
					&:first-child
						margin-right 1.4rem
					&:last-child
						margin-left 1.4rem
			& > .date-control
				& > .title
					font-weight: 500
					line-height: 2.4rem
					clearfix()
					& > span.month-part
						cursor: pointer
						position: relative
						margin-right: 0.5rem
						&:hover
							text-decoration: underline
						& > select
							position: absolute
							top: 0px
							bottom: 0px
							left: 0px
							right: 0px
							opacity: 0
							width: 100%
					& > input
						border: none
						width: 4.3rem
				& > .headers
					margin-top: -0.7rem
					font-weight: 500
					font-size: 1rem
					padding-left: 1.5rem
					color: unselectable-text-colour
					text-align: left
					& > .day-cell
						text-align: center
						cursor: default
				& .day-cell
					float: left
					width: 2.7rem
					height: 2.7rem
					padding: 0.7rem 6px 6px 6px
					cursor: pointer
					border-radius: 3.0rem
				& > .days
					font-size: 1rem
					padding-left: 1.5rem
					width: (2.7 * 7.7)rem
					& .day-cell
						color: text-colour
						&.today
							color: today-text-colour
						&.selected
							color: selected-text-colour
							background-color: selected-background-colour
						&:hover, &:active
							color: hover-text-colour
							background-color: hover-background-colour
			& > .time-control
				position: relative
				& > .time-inputs
					bottom: 60%
					margin-bottom: -4.3rem
					text-align: center
					position: absolute
					left: 0
					right: 0
					& > button.md-button
						font-size: 3.0rem
						line-height: 1rem
						width: 8.4rem
						margin: 0 0.8rem
						position: absolute
						padding-top: 0px
						padding-bottom: 0px
						&.hours
							left: 1.5rem
							right: 50%
							margin-right: 1.0rem
						&.minutes
							right: 0.7rem
							left: 50%
						&.up
							top: -2.3rem
						&.down
							bottom: -3.0rem
					& > input
						border: none
						border-bottom: 1px solid black
						text-align: right
						font-size: 6.1rem
						line-height: 3.0rem
						width: 8.4rem
						margin: 0 0.7rem
				& > .buttons
					position: absolute
					bottom: 3.0rem
					right: 0
					width: 9.2rem
	&.date-mode > .control > .slider
		left: 0%
	&:not(.time-mode-add):not(.time-mode-remove):not(.date-mode-add):not(.date-mode-remove)
		&.date-mode > .control > .slider > .time-control > *, &.time-mode > .control > .slider > .date-control > *
			display: none
	&.time-mode-add, &.time-mode-remove, &.date-mode-add, &.date-mode-remove
		& > .display
			color: transparent !important
	&.time-mode
		& > .display > .content
			padding-top: 4.6rem
		& > .control > .slider
			left: -100%
	&.date-only > .control > .slider
		& > .switch-control, & > .time-control
			display: none
		& > .date-control
			width: 50%
			padding-left: 1.0rem
	&.time-only
		& > .display
			& > .title
				display: none
			& > .content
				top: 0px
				padding-top: 6.3rem
		& > .control > .slider
			& > .switch-control, & > .date-control
				display: none
			& > .time-control
				width: 50%
	& > .display, & > .control
		height: 10em//content-height
		float: left
		text-align: center
	//& > .buttons
	//	clear: both
	//	padding: 0.7rem
	//	text-align: right
	& button, & .button
		color: button-text-colour
	&.full-mode
		& > .display
			display: none
		& > .control
			width: 100%
			height: 23.4rem
			& > .full-title
				display: block
			& > .slider
				float: none
				width: 100%
				& > .time-control, & > .date-control
					width: 50%
				& > .switch-control
					display: none
		& > .buttons
			background-color: selected-background-colour
			& > button
				/* Invert colours for bottom bar */
				color: selected-text-colour !important

vertical-orient()
	width: 23.1rem
	& > .display
		width: 100%
		height: auto
		transition: color 0.6s ease-in-out, height 0.6s ease-in-out
		& > .content
			position: relative
			width: 100%
			top: 0px
			height: 15.5rem
	& > .control
		width: 100%
	&.time-mode	> .display > .content
		padding-top: 4.6rem
	&.time-only	> .display > .content
		top: 0px
		padding-top: 0.8rem
		height: 10rem
	&.full-mode
		& > .display
			display: none
		& > .control
			width: 100%
			height: 44.2rem
			& > .full-title
				display: block
			& > .slider
				float: none
				width: 100%
				height: auto
				overflow: auto
				& > .time-control, & > .date-control
					width: 100%
					float: left

.time-date.vertical
	vertical-orient()

@media (max-width: 51rem)
	.time-date
		vertical-orient()
