gmap(ng-model='dashboard.ubication' theme='venta' gm-full-screen gm-disable-default-u-i gm-geolocation recly-actions recly-almacenes action1='dashboard.reclyYa()')

agregado(
  ng-if='dashboard.agregado'
  module='dashboard.agregado'
  modules = 'dashboard.modules'
  flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')

venta(
  ng-if='dashboard.venta'
  module='dashboard.venta'
  modules = 'dashboard.modules'
  flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')

//- {{layout.ui | json}}
  empresas-card(
    modules = 'dashboard.modules'
    class='mmm'
    flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')

  role(
    ng-if='dashboard.role'
    module='dashboard.role'
    modules = 'dashboard.modules'
    flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')

  //-
