form(name = "form", novalidate = '' md-theme='unidadMedida')

  md-input-container(class = 'mr-16 ml-16 mt-8')
    label  {{'FIELDS.NAME' | translate | capitalize}}
    input(type="text", required="", name="name", ng-model="umForm.form.name", ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }")
    div(ng-messages="form.name.$error", ng-show="(form.name.$dirty && form.name.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  md-input-container(class = 'mr-16 ml-16 mt-8')
    label  {{'UNIDAD_MEDIDA.SUFFIX' | translate | capitalize}}
    input(type="text", required="", name="suffix", ng-model="umForm.form.suffix", ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }")
    div(ng-messages="form.suffix.$error", ng-show="(form.suffix.$dirty && form.suffix.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  md-input-container(class = 'mr-16 ml-16')
    label {{'FIELDS.DESCRIPTION' | translate | capitalize}}
    textarea(name="description", ng-model="umForm.form.description", columns="1", md-maxlength="140", ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }")
    div(ng-messages="form.description.$error", ng-show="(form.description.$dirty && form.description.$invalid)")
      div(ng-message="md-maxlength") {{'FORM.FIELD_ERROR.MAX_LENGHT' | translate: {max: 140} | capitalize}}

  section(class='md-actions' ng-class='umForm.inDialog ? "bt" : ""' layout="row" layout-align="end center")
    md-button(ng-click='umForm.cancel(form)' ng-if='umForm.inDialog' aria-label="cancel") {{'ACTIONS.CANCEL' | translate | capitalize}}
    md-button(ng-click='umForm.save(form)' aria-label="login") {{umForm.update ? 'UPDATE': 'REGISTER' | translate | capitalize}}
