md-list

  md-list-item(class= 'md-2-line')
    div(class= 'md-list-item-text')
      h4(class = 'mb16') {{'UNIDADMEDIDA.SUFFIX' | translate | capitalize}}
      h3 {{umShow.item.suffix | capitalize}}

  md-list-item(class= 'md-2-line')
    div(class= 'md-list-item-text')
      h4(class = 'mb16') {{'UNIDADMEDIDA.NAME' | translate | capitalize}}
      h3 {{umShow.item.name | capitalize}}

  md-list-item(class= 'md-2-line')
    div(class= 'md-list-item-text')
      h4(class = 'mb16') {{'UNIDADMEDIDA.DESCRIPTION' | translate | capitalize}}
      h3 {{umShow.item.description | capitalize}}
