.section--dashboard {
  padding: 0;
  @media screen and (min-width: 768px) {
    agregado, venta {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 20;
      md-list {
        height: 200px;
        overflow-y: scroll;
      }
    }
    venta {
      top: 200px;
    }
  }
}

.recly__actions {
  position: absolute;
  top: 8px;
  right: 0;
}
