form(name = "form" novalidate = '' md-theme='cargo' class = 'model-form')

  ye-input(label='MODEL.CARGO' field='name' required)
  ye-input(label='FIELDS.DESCRIPTION' field='description' textarea maxlength)

  form-actions(ctrl='mForm')
