form(name="form" novalidate='' md-theme='area' class = 'model-form')

  ye-input(label='MODEL.AREA' field='name' required)
  ye-input(label='FIELDS.DESCRIPTION' field='description' textarea maxlength)

  form-actions(ctrl='mForm')
