md-list

  md-list-item(class= 'md-2-line')
    div(class= 'md-list-item-text')
      h4(class = 'mb16') {{'MODEL.EMPRESA' | translate | capitalize}}
      h3 {{options.empresa.socialName | capitalize}}

  md-list-item(class= 'md-2-line')
    div(class= 'md-list-item-text')
      h4(class = 'mb16') {{'MODEL.AREA' | translate | capitalize}}
      h3 {{area.name | capitalize}}

  md-list-item(class= 'md-2-line')
    div(class= 'md-list-item-text')
      h4(class = 'mb16') {{'FIELDS.DESCRIPTION' | translate | capitalize}}
      h3 {{area.description | capitalize}}
