md-progress-circular(ng-show="eF.showSpinner" md-mode="indeterminate"
  class='fx-speed-300 fx-fade-down' md-theme='empresa')

form(name="form" md-theme='empresa' ng-class = '{wait: eF.showSpinner}'
  class='model-form' novalidate='')

  input-picture(photo="eF.form.photo" storage='empresas' cover='eF.cover' md-theme='empresa')

  //- socialName
  md-input-container

    label {{'FIELDS.SOCIALNAME' | translate | capitalize}}
    input(
      ng-model="eF.form.socialName"
      ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }"
      required=""
      type="text"
      name="socialName")
    div(
      ng-messages="form.socialName.$error"
      ng-show="(form.socialName.$dirty && form.tradeName.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  //- comercialName
  md-input-container

    label {{'FIELDS.COMERCIALNAME' | translate | capitalize}}
    input(
      ng-model="eF.form.comercialName"
      ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }"
      name="comercialName"
      type="text"
      required="")
    div(
      ng-messages="form.comercialName.$error"
      ng-show="(form.comercialName.$dirty && form.comercialName.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  //- RUC
  md-input-container

    label {{'FIELDS.RUC' | translate | capitalize}} 
    input(
      ng-model="eF.form.ruc"
      ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }"
      required=""
      ng-minlength = '11'
      ng-maxlength = '11'
      type="number"
      name="ruc")
    div(
      ng-messages="form.ruc.$error"
      ng-show="(form.ruc.$dirty && form.ruc.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}
      div(ng-message="number") {{'FORM.FIELD_ERROR.NUMBER' | translate | capitalize}}
      div(ng-message="minlength") {{'FORM.FIELD_ERROR.MIN_LENGTH' | translate:{min: 11} | capitalize}}
      div(ng-message="maxlength") {{'FORM.FIELD_ERROR.MAX_LENGTH' | translate:{max: 11} | capitalize}}

  //- fiscalAddress
  md-input-container

    label {{'FIELDS.FISCALADDRESS' | translate | capitalize}} 
    input(
      ng-model="eF.form.fiscalAddress"
      ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }"
      name="fiscalAddress"
      type="text"
      required="")
    div(
      ng-messages="form.fiscalAddress.$error"
      ng-show="(form.fiscalAddress.$dirty && form.fiscalAddress.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  //- geoFiscalAddress
  md-input-container

    label {{'FIELDS.GEOFISCALADDRESS' | translate | capitalize}}
    input(
      gmap-geolocation=''
      theme='empresa'
      ng-model-geo="eF.form.geoFiscalAddress"
      ng-model="eF.formAux.geoFiscalAddress"
      name = "geoFiscalAddress"
      required="")
    div(
      ng-messages="form.geoFiscalAddress.$error"
      ng-show="(form.geoFiscalAddress.$dirty && form.geoFiscalAddress.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  //- direction
  md-input-container

    label {{'FIELDS.DIRECTION' | translate | capitalize}}
    input(
      ng-model="eF.form.direction"
      ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }"
      name="direction"
      type="text"
      required="")
    div(
      ng-messages="form.direction.$error"
      ng-show="(form.direction.$dirty && form.direction.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  //- geoDirection
  md-input-container

    label {{'FIELDS.GEODIRECTION' | translate | capitalize}}
    input(
      gmap-geolocation=''
      theme='empresa'
      ng-model-geo="eF.form.geoDirection"
      ng-model="eF.formAux.geoDirection"
      name="geoDirection"
      type="text"
      required="")
    div(
      ng-messages="form.geoDirection.$error"
      ng-show="(form.geoDirection.$dirty && form.geoDirection.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  //- CREATIONDATE
  md-input-container

    label {{'FIELDS.CREATIONDATE' | translate | capitalize}}
    input(date-picker='' ng-model="eF.form.creationDate"
      type='date' name='creationDate' required='' theme='empresa'
      max='{{eF.formAux.maxCreationDate}}')

    div(
      ng-messages="form.creationDate.$error"
      ng-show="(form.creationDate.$dirty && form.creationDate.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  //- main
  md-input-container
    md-checkbox(ng-model='eF.form.main' ng-hide='eF.mainObligate'
      ng-init='eF.form.main = eF.options.mainObligate ? true : false'
      class='ml-0 mt-24')
      | {{'FIELDS.MAIN_MODEL' | translate: {modelName: eF.modelName} |
      | capitalize}}

  section(layout = "row", layout-align = "end center")
    md-button(
      ng-click = 'eF.save(form)'
      class = "md-accent mr-16 mt-8"
      aria-label="login") {{eF.update ? 'UPDATE': 'REGISTER' | translate | capitalize}}
