ye-cover(picture='{{empresa.getPhoto}}')

md-list

  md-list-item(class= 'md-2-line'): div(class= 'md-list-item-text')
    p {{'FIELDS.SOCIALNAME' | translate | capitalize}}
    h3 {{empresa.item.socialName | capitalize}}

  md-list-item(class= 'md-2-line'): div(class= 'md-list-item-text')
    p {{'FIELDS.COMERCIALNAME' | translate | capitalize}}
    h3 {{empresa.item.comercialName | capitalize}}

  md-list-item(class= 'md-2-line'): div(class= 'md-list-item-text')
    p {{'FIELDS.RUC' | translate | capitalize}}
    h3 {{empresa.item.ruc | capitalize}}

  md-list-item(class= 'md-2-line')
    div(class= 'md-list-item-text')
      p {{'FIELDS.CREATIONDATE' | translate | capitalize}}
      h3 {{empresa.item.creationDate | date}}

  md-list-item(ng-if='empresa.item.main' class= 'md-2-line'): div(class= 'md-list-item-text')
    p {{'EMPRESA_MAIN' | translate | capitalize}}
