//ANIMATIONS

//-fade
.ye-fade-add {
  /* remember to place a 0s transition here
     to ensure that the styles are applied instantly
     even if the element already has a transition style */
  transition: 0s linear all;

  /* starting CSS styles */
  opacity:1;
}
.ye-fade-add.ye-fade-add-active {
  /* this will be the length of the animation */
  transition: 0.75s linear all;
  opacity: 0;
}
.ye-fade {
  //display: none !important;
  pointer-events: none;
  opacity: 0 !important;
}

//-fade
.ye-fade-form-add {
  transition: 0s linear all;
  opacity:1;
}
.ye-fade-form-add.ye-fade-form-add-active {
  transition: 0.75s linear all;
  opacity: .5;
  pointer-events: none;
}
.ye-fade-form {
  opacity: .5 !important;
  pointer-events: none;
}

//-timer enter
.ye-time-enter-add {
  transition: 0s ease-in all;
  opacity: 0;
}
.ye-time-enter-add.ye-time-enter-add-active {
  transition: 0.35s ease-in all 0.4s;
  opacity: 1;
}
.ye-time-enter {
  opacity: 1;
}

//-appear
.ye-appear-add {
  transition: 0s ease-in all;
  opacity: 0;
  z-index: 10;
}
.ye-appear-add.ye-appear-add-active {
  transition: 0.35s ease-in all 0.4s;
  opacity: 1;
  z-index: 10;
}
.ye-appear {
  opacity: 1 !important;
}

//-loading
.ye-card-loading-add {
  transition: 0s linear all;
  .content-spinner {
    transition: 0s linear all;
    opacity: 0;
    //height: auto;
  }
  .content-to-load {
    transition: 0s linear all;
    opacity: 1;
    //height: auto;
  }
}
.ye-card-loading-add.ye-card-loading-add-active {
  transition: 0.75s linear all;
  //height: 82px;
  .content-spinner {
    transition: 0.35s linear all 0.4s;
    opacity: 1;
    //height: 82px;
  }
  .content-to-load {
    transition: 0.75s linear all;
    opacity: 0;
    //height: 82px;
  }
}
.ye-card-loading {
  //height: 82px;
  .content-spinner {
    opacity: 1;
    //height: 82px;
  }
  .content-to-load {
    opacity: 0;
    //height: 82px;
  }
}

//loaded
.ye-card-loaded-add {
  transition: 0s linear all;
  .content-spinner {
    transition: 0s linear all;
    opacity: 1;
    //height: 0;
  }
  .content-to-load {
    transition: 0s linear all;
    opacity: 0;
    //height: 0;
  }
}
.ye-card-loaded-add.ye-card-loaded-add-active {
  transition: 0.75s linear all;
  .content-spinner {
    transition: 0.75s linear all;
    opacity: 0;
    //height: 82px;
  }
  .content-to-load {
    transition: 0.35s linear all 0.4s;
    opacity: 1;
    //height: auto;
  }
}
.ye-card-loaded {
  //height: auto;
  .content-spinner {
    opacity: 0;
    //height: 82px;
  }
  .content-to-load {
    opacity: 1;
    //height: auto;
  }
}
