*,
*:before,
*:after {
  //@include prefixer(box-sizing, $box, webkit moz spec);
  //@include box-sizing(border-box);
  box-sizing: border-box;
}

body {
  font-family: 'RobotoDraft', 'Roboto', 'sans-serif', 'arial';
  font-size: 16px;
  font-weight: 300;
  //background-color: rgb(76,175,80);
  color: $color-text;
}

main {
  position: relative;
  height: 100%;
  background-color: $color-background;
}

img {
  max-width: 100%;
  &.md-avatar {
    background-color: $bg;
  }
}

/* mdi */
.#{$mdi-css-prefix} {
  font-size: $mdi-font-size-base;
}

[launch-map] {
  cursor: pointer;
}

//cover
ye-cover,
.ye-cover {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
  background-color: $bg;
  > span.mdi {
    opacity: 0;
    color: #fff;
    font-size: 56px
  }
  >.cover_image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
  }
  >button.md-fab.md-button {
    position: absolute;
    bottom: -32px;
    right: 8px;
  }
}

mdx-list,
empresas-card,
empresa-card,
flota-show,
ye-input,
input-picture {
  display: block;
}

mdx-list {
  min-height: 62px;
}
//reset angular-material
md-card {
  margin: 4px;
  position: relative;
  @media screen and (min-width: $screen-md) {
    margin: 8px;
  }
}
main > md-content {
  padding: 4px;
  @media screen and (min-width: $screen-md) {
    padding: 8px;
  }
}

@mixin dialogFullScreen {
  width: 100%;
  max-width: none;
  border-radius: 0;
  height: 100%;
}

md-dialog {
  &:-webkit-full-screen {
    @include dialogFullScreen();
  }
  &:-moz-full-screen {
    @include dialogFullScreen();
  }
  &:-ms-fullscreen {
    @include dialogFullScreen();
  }
  &:fullscreen {
    @include dialogFullScreen();
  }
}

//ye
.ye-action-backdrop {
  position: fixed;
}

input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button {
  display: none;
}

//roles list
.roles__modules {
  md-checkbox {
    padding-left: 0;
    margin: 12px;
    &:last-of-type {
      margin: 12px 0 12px 12px;
    }
  }
}
.roles__crud {
  padding: 8px 26px 8px 16px;
  span {
    color: $color-text--low;
    font-weight: 500;
    font-size: 12px;
  }
  >div span {
    font-size: 12px;
    width: 25px;
    overflow: hidden;
    margin-right: 10px;
    text-align: center;
    color: $color-text--low;
    font-weight: 500;
    padding: 0 2px;
    margin: 0 15px;
    &:last-of-type {
      margin-right: -6px;
    }
  }
}

//gmap

gmap {
  display: block;
  &:focus {
    outline: 0;
  }
}

.gmap__map {
  display: block;
  //border-radius: 4px;
  position: relative;
  overflow: hidden;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

.gmap__map__poster {
  background-color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  &.fail {
    .mdi {
      color: rgb(244,67,54);
    }
  }
  .mdi {
    color: #fff;
    &:first-child {
      font-size: 40px;
      width: 40px;
      height: 40px;
      margin: 0 0 8px 0;
    }
  }
}

.gmap__map__wrapper {
  position: relative;
  opacity: 0;
}

//picker
.ye-picker {

  min-width: 240px;
  max-width: 340px;

  .md-toolbar-tools {
    align-items: flex-start;
    flex-direction: column;
    max-height: none;
    padding: 16px 20px 8px;
    h2 {
      font-weight: 500;
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
    }

  }

  .canvas__year {
    position: relative;
  }
  .canvas__month span {
    text-transform: none;
  }
  .canvas__month .selected,
  .canvas__year .selected {
    font-size: 20px;
  }

  .canvas__year__actions {
    position: fixed;
    width: 40px;
    //top: 80px;
    right: 24px;
    //height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .modificators {
    span {
      padding: 0 4px;
    }
  }

  .calendar {
    padding-left: 10px;
    padding-right: 10px;

    .calendar__week-days div,
    .calendar__days div {
      display: flex;
      flex-basis: 14.285%;
      justify-content: center;
      >button {
        margin: 2px 0;
      }
    }

    .calendar__week-days div{
      font-size: 12px;
      font-weight: 500;
      color: rgba(#000, .35);
      padding: 8px 0;
    }

    .c-b75 {
      color: rgba(#000, .75);
    }

  }
  .calendar__days__button {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 1;
  }
  span {
    font-weight: 400;
  }

  .md-button.md-fab md-icon {
    color: rgba(#000, .65);
  }

  //.md-actions {
  //  border-top: 1px solid rgba(#000, .1);
  //}

}

/*extra*/
//placeholder
//::-webkit-input-placeholder { color:#fff; }
//::-moz-placeholder { color:#fff; } /* firefox 19+ */
//:-ms-input-placeholder { color:#fff; } /* ie */
//input:-moz-placeholder { color:#fff; }
%mdx-list__section {
  position: relative;
  min-height: 48px;
  display: flex;
  align-items: center;
  > div,
  .mdx-list__section__field {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 16px 0 0;
    flex: 0 0 120px;
    &:focus {
      outline: 0;
    }
    .mdx-list__section__field--actions,
    &.actions {
      flex-basis: 50px;
      padding: 0;
      md-icon {
        outline: 0;
      }
    }
  }

}

.mdx-list {
  display: block;
	width: 100%;
  position: relative;
  >button {
    padding: 0;
  }
}

.mdx-list__section--head {
  @extend %mdx-list__section;
  height: 48px;
  margin-bottom: 4px;
  > div {
    border-bottom: 2px solid rgba(0, 0, 0, .12);
    margin-right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    &.photo {
      border-bottom: 0;
      flex-basis: 72px;
      max-width: 72px;
      //margin-right: 16px;
    }
    &:last-of-type {
      flex: 1 0 auto;
    }
    &:first-of-type {
      padding-left: 16px;
    }
  }
}
.mdx-list__section--body {
  @extend %mdx-list__section;
  @media screen and (min-width: $screen-md) {
    min-height: 64px;
  }
  > img.md-avatar:first-child {
    margin-right: 32px;
  }
  > button {
    padding: 0;
  }
  //photo or letter
  .md-list-item-inner {
    padding-left: 16px;
  }
  .md-list-item-inner > img,
  .md-list-item-inner > button {
    display: block;
    margin: 0 16px 0 0;
    min-width: 40px;
  }
  //actions
  > [mdx-list-multiple-actions] {
    //right: -2px !important;
  }
  > [mdx-list-multiple-actions] > button {
    margin-right: 10px;
  }
}

/* angular-material*/

//md-menu
.md-menu {
  padding: 0;
}

//md-button
.md-button.md-icon-button {
  height: 40px;
  line-height: 1;
  margin: 0;
  width: 40px;
}
md-fab-speed-dial{
  z-index: 3;
  position: fixed;
  right: 14px;
  bottom: 16px;
  .md-button.md-fab.md-fab-bottom-right {
    position: relative;
    right: 0;
    bottom: 0;
  }
}
//-css when toast is launched
.md-toast-open-bottom md-fab-speed-dial.md-up md-fab-actions {
  position: relative;
  bottom: 48px;
}
.icon--message [ng-message] {
  margin-left: 36px;
}

//md-select
md-select-menu md-content {
  background-color: $color-white !important;
}

//md-input-container
md-input-container {
  padding-left: 0;
  padding-right: 0;
  label:not(.md-no-float) {
    padding-left: 0;
  }
  > md-icon {
    color: $color-text--low;
  }
  > md-select {
    margin-top: 21px;
    padding: 0;
  }
  md-radio-button, .md-switch-thumb {
    margin: 15px 12px;
    &:first-of-type {
      margin: 15px 12px 15px 0;
    }
  }
  h2.md-subheader .md-subheader-inner {
    padding-left: 0;
  }
}

md-input-container .md-char-counter {
  bottom: -9px;
  right: 16px;
}

/*
//md-list-item
%md-avatar {
  display: block;
  height: 40px;
  max-width: 40px;
  width: 40px;
}

.md-avatar {
  @extend %md-avatar;
}

md-list-item > p,
md-list-item > .md-list-item-inner > p,
md-list-item .md-list-item-inner > p,
md-list-item .md-list-item-inner > .md-list-item-inner > p {
  font-weight: 400;
}

md-list-item .md-list-item-inner > md-icon:first-child,
md-list-item > md-icon:first-child {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

md-list-item button.md-button.md-secondary-container {
  right: 8px;
}

md-list-item .md-list-item-inner {
  @media screen and (min-width: $screen-md) {
    min-height: 64px;
  }
}

*/

//md-list-item > md-icon:first-child {
//  margin-left: 0;
//}
md-list-item {
  margin-top: 4px;

  &:first-of-type {
    margin-top: 0;
  }

  md-icon {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0;
  }

  &.with-actions .md-list-item-inner .md-list-item-text{
    margin-right: 48px;
  }

  .md-list-item-inner {
    @media screen and (min-width: $screen-md) {
      min-height: 64px;
    }
  }

}


.md-list-item-text {
  padding: 0 !important;
  h3 {
    margin: 0;
    font-weight: 400;
    //line-height: 1 !important;
    //color: $color-text;
    font-size: 16px;
  }
  p {
    //line-height: 1.75;
    margin: 0;
    //font-weight: 400 !important;
    //color: $color-text--low;
    //font-size: 16px;
  }

}

//md-content
main > md-content.md-default-theme {
  background-color: $color-background;
}// only apply for main md-content

md-sidenav {
  position: fixed;
  height: 100%;
  overflow-x: hidden;
}

/*
//md-fab
.md-fab {
  @extend %display--flex;
  @extend %justify-content--center;
  @extend %align-items--center;
}*/

//md-toolbar
md-toolbar, .md-toolbar-tools{
	min-height: 56px;
	@media screen and (min-width: $screen-md) {
		min-height: 64px;
	}
  @media screen and (max-width: $screen-md) and (orientation: landscape) {
		min-height: 64px;
  }
}

.md-toolbar-tools{
	padding: 0 4px;
  height: auto;
  overflow: hidden;
  > md-menu:last-child {
    margin-right: 0;
  }
	> span:first-of-type{
		//flex-basis: 140px;
		//flex-grow: 100;
		//flex-shrink: 100;
    flex-shrink: 6;
		margin-left: 20px;
    overflow: hidden;
		text-overflow: ellipsis;
    white-space: nowrap;
    @media screen and (max-width: 300px) {
      margin-left: 0;
    }
  }
  > .md-button:first-child{
  	margin-left: 4px;
  }
  .md-button:last-child {
    margin-right: 4px;
  }
}

//md-sidenav
md-backdrop.md-sidenav-backdrop {
  position: fixed;
}

$sidenav-default-width: 304px;
$sidenav-min-space: 56px;

@mixin incrementSidenavPre($i) {

  @media screen and (min-width: $sidenav-default-width * $i) {
    width: $sidenav-default-width * $i;
    min-width: $sidenav-default-width * $i;

    .model-form {
      @include clearfix();
      @include transition(opacity 0.6s ease);
      > input-picture {
        width: $sidenav-default-width - 8;
        float: left;
        @if $i >= 3 {
          padding: 16px;
        }@else {
          padding: 16px 16px 0 16px;
        }
        ye-cover {
          height: $sidenav-default-width * 9/16 !important;
        }
      }
      > ye-input,
      > md-input-container,
      >.model-form__section {
        width: $sidenav-default-width - 8;
        float: left;
      }
      > section {
        width: 100%;
        clear: both;
      }
    }

  }

}
@mixin incrementSidenav($i) {

  @for $j from 2 through $i {
    @include incrementSidenavPre($j);
  }

}

md-sidenav {
  &.md-sidenav-left {
    @media screen and (max-width: $sidenav-default-width + $sidenav-min-space) {
      min-width: 0;
      width: 85%;
      @include calc('width', '100% - #{$sidenav-min-space}');
    }
  }
  &.md-sidenav-right {
    @media screen and (max-width: $sidenav-default-width) {
      min-width: 0;
      width: 100%;
    }
  }
  &.x2 {
    @include incrementSidenav(2);
  }
  &.x3 {
    @include incrementSidenav(3);
  }
  &.x4 {
    @include incrementSidenav(4);
  }
}

md-select {
  margin: 26px 0 12px 0;
  .disabled {
    pointer-events: none;
    md-select-label {
      color: rgba(#000, .5);
    }
  }
}

[masonry] {
  @include clearfix;
}

.grid {
  width: 100%;
}

.mmm {
  float: left;
  width: 100%;
  @media screen and (min-width: $screen-sm) {
    width: 50%;
  }
  @media screen and (min-width: $screen-md) {
    width: 33.3%;
  }
  @media screen and (min-width: $screen-lg) {
    width: 25%;
  }
}

.simple-list {
  padding: 8px 16px;
  > div {
    margin-bottom: 8px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 16px;
    }
  }
}

form{

  md-input-container {
    padding: 0 16px 16px 16px;

    &[checkbox] {
      padding: 0 8px;
    }

    &[switch] {
      padding: 0;
    }

    &[radio-icon] {
      padding: 0;
      >md-icon {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
      }
      >md-radio-button {
        margin: 0;
        display: flex;
        width: 40px;
        height: 40px;
        @media screen and (min-width: $screen-md) {
          width: 56px;
          height: 56px;
        }
        &:not(.md-checked) .md-off{
          border-color: $bg;
        }
        .md-container {
          top: 0;
          width: 40px;
          height: 40px;
          @media screen and (min-width: $screen-md) {
            width: 56px;
            height: 56px;
          }
          .md-off {
            width: 40px;
            height: 40px;
            @media screen and (min-width: $screen-md) {
              width: 56px;
              height: 56px;
            }
          }
          .md-ripple-container {
            top: -4px;
            left: -4px;
            @media screen and (min-width: $screen-md) {
              top: 0;
              left: 0;
              width: 56px;
              height: 56px;
            }
          }
          .md-on {
            display: none;
          }
        }
      }
    }
  }

}

[module-form] {
  display: block;
  position: relative;
  >.content-spinner md-progress-circular {
    position: absolute;
    @include calc('top', '50% - 25px');
    @include calc('left', '50% - 25px');
  }
}

.dialog--map {
  width: 600px;
  max-height: none;
}

md-icon.fab {
  width: 40px !important;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff !important;
  background-color: $bg;
  @media screen and(min-width: $screen-md) {
    width: 48px !important;
    height: 48px;
  }
}

.inset-list {
  display: flex;
  >md-toolbar {
    width: 16px;
  }
  >*:not(md-toolbar) {
    display: block;
    @include calc('width', '100% - 16px');
  }
}

.w-100percent {width: 100%;}
.w-100percent md-select-label { width: 100%;}

/*=============================================*/
//loggued

.input-figure {
	position: relative;

	[nv-file-over] {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: all .75s ease-in-out;
    &.over {
			background-color: rgba(#fff, .5);
			border-bottom: 2px solid rgb(68,138,255);
      z-index: 11;
      pointer-events: none;
    }
  }

	[nv-file-drop] {
		height: 100%;
		transition: background-color .25s ease-in-out;
		width: 100%;
    z-index: 10;
		&.over {
			background-color: rgba(#000, .25);
      opacity: .65;
			border-bottom: 2px solid rgb(68,138,255);
    }
		&.success {
			border-bottom: 2px solid rgb(76,175,80);
    }
		&.error {
			background-color: rgba(#000, .5);
			border-bottom: 2px solid rgb(244,67,54);
    }
  }
}

md-sidenav.x2,
md-sidenav.x3 {
  @media screen and (min-width: $sidenav-default-width * 2) {
    ye-cover {
      border-radius: 4px;
      > .cover_image {
        border-radius: 4px;
      }
    }
  }
}

.content-spinner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 16px 0;
  position: absolute;
  top: 0;
  width: 100%;
}

//-
.input-figure__action {
	bottom: -34px;
	display: flex;
	justify-content: flex-end;
	padding-right: 8px;
	position: absolute;
	width: 100%;
	input {
    cursor: pointer;
		overflow: hidden;
		right: 16px;
		top: 7px;
		position: absolute;
		display: block;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		z-index: 20;
		opacity: 0;
    outline: none;
  }
}

//-
form-actions {
  width: 100%;
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
  align-items: center;
}

md-radio-group[layout] {
  ye-input {
    margin: 0 4px;
    @media screen and (min-width: $screen-md) {
      margin: 0 8px;
    }
  }
}
.section--dashboard {
  display: flex;
  flex-wrap: wrap;
}
