//-.bg {background-color: $bg !important;}

.br-1111 {border-radius: 4px;}
.br-1100 {border-radius: 4px 4px 0 0;}

.bs-n {box-shadow: none !important;}
.bt {border-top: 1px solid $color-divider;}
.bb {border-bottom: 1px solid $color-divider;}
.bl-4 {border-left: 4px solid $color-divider;}
.bl-8 {border-left: 8px solid $color-divider;}
.bl-12 {border-left: 12px solid $color-divider;}

.p-8 {padding: 8px;}

.pt-0 {padding-top: 0;}
.pt-2 {padding-top: 2px;}
.pt-4 {padding-top: 4px;}
.pt-8 {padding-top: 8px;}
.pt-16 {padding-top: 16px;}

.pl-0 {padding-left: 0;}

.pb-0 {padding-bottom: 0;}
.pb-2 {padding-bottom: 2px;}
.pb-4 {padding-bottom: 4px;}
.pb-8 {padding-bottom: 8px;}
.pb-16 {padding-bottom: 16px;}

.pr-0 {padding-right: 0;}
.pr-8 {padding-right: 8px;}
.pr-4 {padding-right: 4px;}
.pr-6 {padding-right: 6px;}
.pr-14 {padding-right: 14px;}
.pr-16 {padding-right: 16px;}

.pl-4 {padding-left: 4px;}
.pl-8 {padding-left: 8px;}
.pl-16 {padding-left: 16px;}

.m-0 {margin: 0 !important;}
.m-8 {margin: 8px !important;}
.p-0 {padding: 0 !important;}

.ml-0 {margin-left: 0 !important;}
.ml-6 {margin-left: 6px !important;}
.ml-8 {margin-left: 8px !important;}
.ml-12 {margin-left: 12px !important;}
.ml-16 {margin-left: 16px !important;}

.mt-0 {margin-top: 0 !important;}
.mt-6 {margin-top: 6px !important;}
.mt-4 {margin-top: 4px !important;}
.mt-8 {margin-top: 8px !important;}
.mt-16 {margin-top: 16px !important;}
.mt-24 {margin-top: 24px !important;}

.mr-8 {margin-right: 8px !important;}
.mr-10 {margin-right: 10px !important;}
.mr-16 {margin-right: 16px !important;}

.mb-0 {margin-bottom: 0 !important;}
.mb-4 {margin-bottom: 4px !important;}
.mb-8 {margin-bottom: 8px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-16 {margin-bottom: 16px !important;}

.p-r {position: relative;}
//.o-0 {opacity: 0;}
//.o-1 {opacity: 1;}
.ox-s {overflow-x: scroll;}
.zi-2 {z-index: 2;}
