$color-white: #fff;

/* angular-material */
$color-background: #eee;
$color-text: rgba(#000, .85);
$color-text--low: rgba(#000, .54);

$color-divider: rgba(0,0,0,0.12);
$bg: #b2b2b2;

/* mdi */
$mdi-font-path: '../../../bower_components/mdi/fonts/';
$mdi-font-size-base: 24px;
$mdi-css-prefix: mdi;

$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1200px;
