md-dialog(aria-label = 'mdDialog')

  md-subheader {{ 'SETTINGS_CARD' | translate:{module: settings.module.pluralName} | capitalize }}

  md-content(class = 'p-0')

    md-list(class = 'bg-w')

      md-list-item
        p {{ 'SETTINGS_CARD_CONTENT.IN_TABLE' | translate |capitalize}}
        md-checkbox(ng-model = 'settings.module.listType' ng-true-value="'table'" ng-false-value="'list'" class = 'mr-0')

      md-list-item
        p {{ 'SETTINGS_CARD_CONTENT.MAX_ROWS' | translate |capitalize}}
        md-select(ng-model='settings.module.rowsNumber' class = 'ml-16')
          md-select-label {{settings.module.rowsNumber}}
          md-option(ng-repeat = 'rowsNumber in [5, 10, 15, 20]', ng-value = 'rowsNumber') {{rowsNumber}}

  div(class = 'md-actions')
    md-button(ng-click = 'settings.closeDialog()', aria-label = 'close settings') {{'CLOSE' | translate | capitalize }}
