//
  roles-list(ng-if = 'module.model == "acl" || module.model == "role"' module = 'module')
  md-card(
    md-card-toggle=''
    module = '::cardModule.module'
    md-theme = '{{::cardModule.module.model}}'
  )
    mdx-list(module = '::cardModule.module')
