md-dialog(aria-label='mdDialog' class='mh-n ye-picker' md-theme='{{datePicker.theme}}')

	md-toolbar(id='dialog-toolbar')
		div(class= 'md-toolbar-tools')
			h4 {{datePicker.ui.selectDate || datePicker.ui.today | date:'yyyy'}}
			h2 {{datePicker.ui.selectDate || datePicker.ui.today | date:'EEE, MMM d'}}

	section(class='content' ng-style='datePicker.ui.height' style={'overflow-y': 'scroll'})

		section(ng-if='datePicker.ui.canvas == "month"' class='canvas__month' layout='column' layout-align='center center' id='canvas__month')
			md-button(ng-click='datePicker.changeMonth(month.code, "replace")' ng-repeat='month in datePicker.auxMonths' ng-class='{"md-primary selected": datePicker.checkMonth(month.code)}') {{month.display | date: 'MMMM' | capitalize}}

		section(ng-if='datePicker.ui.canvas == "year"' class='canvas__year' layout='column' layout-align='center center' id='canvas__year' layout-fill='')

			div(ng-if='!datePicker.ui.minDate || !datePicker.ui.maxDate'  ng-style='datePicker.ui.height' id='canvas__year__actions' class='canvas__year__actions')
				md-button(ng-if='!datePicker.ui.minDate' ng-click='datePicker.auxMoreYear(-1)' class='md-icon-button' aria-label='show a new year -'): md-icon(md-font-icon='mdi mdi-chevron-up')
				md-button(ng-if='!datePicker.ui.maxDate' ng-click='datePicker.auxMoreYear(1)' class='md-icon-button' aria-label='show a new year +'): md-icon(md-font-icon='mdi mdi-chevron-down')

			md-button(ng-click='datePicker.changeYear(year, "replace")' ng-repeat='year in datePicker.auxYears' ng-class='{"md-primary selected": datePicker.checkYear(year)}') {{year}}

		section(class='calendar' id='calendar' ng-if='datePicker.ui.canvas == "calendar"')

			section(layout='' layout-align= 'space-between center')

				md-button(ng-click="datePicker.changeMonth(-1)" class='md-icon-button' aria-label='Previous Month')
					md-icon(md-font-icon='mdi mdi-chevron-left')

				div(class='modificators')
					span(ng-click='datePicker.changeViewtype("month")') {{datePicker.ui.calendar | date: 'MMMM'}}
					span(ng-click='datePicker.changeViewtype("year")') {{datePicker.ui.calendar | date:'yyyy'}}

				md-button(ng-click="datePicker.changeMonth(1)" class='md-icon-button' aria-label="Next Month")
					md-icon(md-font-icon='mdi mdi-chevron-right')

			section(layout='' class='calendar__week-days')
				div(ng-repeat="day in datePicker.getWeekDays()") {{day | date: 'EEEE' | limitTo:1 | uppercase}}

			section(layout='' layout-wrap="wrap" id='calendar__days' class='calendar__days')
				div(ng-style='datePicker.checkMarginLeft(day)'
					ng-repeat='day in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,29 ,30, 31]')
					md-button(class='calendar__days__button'
						ng-click='datePicker.select(day)'
						ng-show='datePicker.isVisible(day)'
						ng-disabled = 'datePicker.isDisabled(day)'
						class = 'md-icon-button'
						ng-class='{"md-primary today": datePicker.checkToday(day) && !datePicker.checkSelected(day),' +
							'"md-fab md-primary select": datePicker.checkSelected(day)}')
							| {{day}}

	section(class='md-actions bt')
		md-button(ng-click="datePicker.setNow()" aria-label="Set To Current date") {{'NOW' | translate | uppercase}}
		md-button(ng-click="datePicker.cancel()" aria-label="Cancel") {{'CANCEL' | translate | uppercase}}
		md-button(ng-click="datePicker.save()" aria-label="Save") {{'SAVE' | translate | uppercase}}
