md-tabs(md-selected = 'eCard.tabSelected' md-dynamic-height=''
	md-border-bottom md-swipe-content='')

	//summary
	md-tab(ng-if = 'eCard.summary.visible')
		md-tab-label {{'SENTENCES.SUMMARY' | uppercase | translate | capitalize}}
		md-tab-body
			img(ng-src = '{{eCard.photo}}')

			section(layout='' layout-wrap='' class='simple-list')

				div(flex='100' class= 'md-list-item-text')
					p {{'FIELDS.SOCIALNAME' | translate | capitalize }}
					h3 {{eCard.empresa.socialName | capitalize}}

				div(flex='50' class= 'md-list-item-text')
					p {{'FIELDS.COMERCIALNAME' | translate | capitalize }}
					h3 {{eCard.empresa.comercialName | capitalize}}

				div(flex='50' class= 'md-list-item-text')
					p {{'FIELDS.RUC' | translate | capitalize }}
					h3 {{eCard.empresa.ruc}}

				div(flex='50' class= 'md-list-item-text')
					p {{'FIELDS.CREATIONDATE' | translate | capitalize }}
					h3 {{eCard.empresa.creationDate | date}}

				div(flex='50' class= 'md-list-item-text')
					p {{'FIELDS.FISCALADDRESS' | translate | capitalize }}
					h3 {{eCard.empresa.fiscalAddress | capitalize}}

				div(flex='100' class= 'md-list-item-text')
					p {{'FIELDS.DIRECTION' | translate | capitalize }}
					h3 {{eCard.empresa.direction | capitalize}}

				gmap(ng-model='eCard.empresa.geoDirection'
					gm-standalone='' gm-show-marker='' gm-zoom = '16' flex='100'
					theme='empresa' gm-title = '{{eCard.empresa.direction}}' gm-disable-default-u-i=''
					gm-no-zoom-control='' gm-no-draggable='' icon='empresa')

			section(class='bt pr-4 pb-4 pt-4' layout = "row", layout-align = "end center")
				md-button(ng-click='eCard.editEmpresa($event, eCard.empresa, eCard.summary)'
					aria-label='edit empresa' class='md-icon-button')
					md-icon(md-font-icon='mdi mdi-pencil')

	//- areas
	md-tab(ng-if = 'eCard.area.visible')
		md-tab-label {{'MODEL.PLURAL.AREA' | uppercase | translate | capitalize}}

		md-tab-body

			mdx-list(module ='eCard.area' items = 'eCard.area.items'
				options = 'eCard.options' model = 'eCard.mArea' model-name='area'
				embed-module = 'eCard.cargo' embed-ctrl = 'eCard')

				md-subheader(class='md-no-sticky md-primary bb m-0')
					| {{'MODEL.PLURAL.CARGO' | translate | capitalize}}

				mdx-list(module ='embed.cargo' model = 'embed.mCargo' model-name='cargo'
					items = 'item.cargos' options = 'embed.options')

				section(class='bt pr-4 pb-4 pt-4' layout = "row", layout-align = "end center")
					md-button(ng-click='embed.createCargo($event, embed.cargo, item)'
						aria-label='new cargo' class='md-icon-button')
						md-icon(md-font-icon='mdi mdi-plus')

			section(class='bt pr-6 pb-4 pt-4' layout = "row", layout-align = "end center")
				md-button(ng-click='eCard.createArea($event, eCard.area, eCard.empresa)'
					aria-label='new area' class='md-icon-button')
					md-icon(md-font-icon='mdi mdi-plus')

	//- sucursales
	md-tab(ng-if = 'eCard.sucursales.visible')
		md-tab-label {{'MODEL.PLURAL.SUCURSAL' | uppercase | translate | capitalize}}
		md-tab-body
			mdx-list(module ='eCard.sucursales' items = 'eCard.sucursales.items'
				options = 'eCard.options' model = 'eCard.mSucursal')

	//- trabajadores
	md-tab(ng-if = 'eCard.trabajador.visible')
		md-tab-label {{'MODEL.PLURAL.TRABAJADOR' | uppercase | translate | capitalize}}
		md-tab-body

			mdx-list(module ='eCard.trabajador' items = 'eCard.trabajador.items'
				options = 'eCard.options' model = 'eCard.mTrabajador')

			section(class='bt pr-6 pb-4 pt-4' layout = "row", layout-align = "end center")
				md-button(ng-click='eCard.createTrabajador($event, eCard.trabajador, eCard.empresa)'
					aria-label='new area' class='md-icon-button')
					md-icon(md-font-icon='mdi mdi-plus')

	//- flota
	md-tab(ng-if = 'eCard.flota.visible')
		md-tab-label {{'MODEL.PLURAL.FLOTA' | uppercase | translate | capitalize}}
		md-tab-body

			flota-show(
				data='eCard.flota.items'
				module-camion='eCard.camion'
				model-camion = 'eCard.mCamion'
			)

			section(class='bt pr-4 pb-4 pt-4' layout = "row" layout-align = "end center")
				md-button(ng-click='eCard.createFlota($event, eCard.flota, eCard.empresa)'
					aria-label='create flota' class='md-icon-button')
					md-icon(md-font-icon='mdi mdi-pencil')
