md-card(md-theme='empresa')

  md-toolbar(class = 'br-1100'): div(class = 'md-toolbar-tools')

    md-button(md-no-ink='' class = 'md-icon-button' aria-label = 'company icon')
      md-icon(md-font-icon = 'mdi mdi-factory')

    span(class = 'ml-16')
      | {{empresasCard.empresas.length < 2 ? 'MODEL.EMPRESA' :
      |  'MODEL.PLURAL.EMPRESA' | uppercase | translate | capitalize}}

    span(flex='')

    md-button(
      ng-if = 'empresasCard.module.crud && empresasCard.module.crud.c'
      ng-click = 'empresasCard.createEmpresa($event)'
      class = 'md-icon-button'
      aria-label = 'new empresa'
    )
      md-icon(md-font-icon = 'mdi mdi-plus')

  md-card-content(ng-class='empresasCard.initialize ? "ye-card-loaded" : "ye-card-loading"' class='p-0 p-r')

    div(class='content-spinner'): md-progress-circular(md-mode="indeterminate")

    div(class='content-to-load pt-2 pb-2')

      div(ng-if='empresasCard.empresas && empresasCard.empresas.length == 0' class = 'pt-8 pb-8')
        md-subheader(class='md-no-sticky md-warn')
          | {{'ACTIONS.REGISTER_COMPANY' | translate | capitalize}}

      empresa-card(ng-if='empresasCard.empresas && empresasCard.empresas.length == 1'
        empresa = 'empresasCard.empresas[0]' modules='empresasCard.modules')

      md-tabs(ng-if='empresasCard.empresas.length > 1'
        md-selected = 'empresasCard.tabSelected' md-dynamic-height=''
        md-border-bottom md-swipe-content='' md-center-tabs='')

        md-tab(ng-repeat='empresa in empresasCard.empresas')
          md-tab-label {{empresa.comercialName}}
          md-tab-body
            empresa-card(empresa = 'empresa' modules='empresasCard.modules')
