md-list-item(
  ng-class='{"bb": eCardModule.toggleContent}'
  ng-if = 'eCardModule.module'
  ng-click='eCardModule.module.crud.r; eCardModule.toggleContent = !eCardModule.toggleContent')
  p {{eCardModule.module.name == 'empresa' ? 'SENTENCES.SUMMARY' : 'MODEL.PLURAL.' + eCardModule.module.name | uppercase | translate | capitalize}}

  section(mdx-list-multiple-actions='')

    md-button(
      ng-if='eCardModule.module && eCardModule.module.crud.c && eCardModule.module.name != "empresa"'
      ng-click = 'eCardModule.createItem($event)'
      class = 'md-icon-button'
      aria-label = 'new item'
      ): md-icon(md-font-icon = 'mdi mdi-plus')

    md-button(
      ng-if='eCardModule.module && eCardModule.module.crud.r'
      ng-click = 'eCardModule.module.crud.r; eCardModule.toggleContent = !eCardModule.toggleContent'
      class = 'md-icon-button'
      aria-label = 'toggle content'
      ): md-icon(md-font-icon = 'mdi'
        ng-class = 'eCardModule.toggleContent ? "mdi-chevron-up" : "mdi-chevron-down"')

section(ng-if='eCardModule.module && eCardModule.module.crud.r' ng-transclude
  ng-show = 'eCardModule.toggleContent'
  class='fx-speed-300 fx-fade-down bb')
