div(class='gmap__map')

  div(class='gmap__map__poster')
    md-icon(md-font-icon='mdi mdi-map')
    md-icon(md-font-icon='mdi mdi-alert-circle' ng-show = 'gmap.fail')

  div(class='gmap__map__wrapper')

md-list(class='gmap__panel' ng-if='gmap.showPanel')

  section(layout='')
    md-list-item(flex='50')
      md-icon(md-font-icon='mdi mdi-alarm')
      div(class='md-list-item-text')
        p {{'MAP.DURATION' |translate | capitalize}}
        h3 {{gmap.panelData.duration.text}}

    md-list-item(flex='50')
      md-icon(md-font-icon='mdi mdi-road')
      div(class='md-list-item-text')
        p {{'MAP.DISTANCE' |translate | capitalize}}
        h3 {{gmap.panelData.distance.text}}

  md-list-item
    md-icon(md-font-icon='mdi mdi-map-marker')
    div(class='md-list-item-text')
      p {{'MAP.START_ADDRESS' |translate | capitalize}}
      h3 {{gmap.panelData.start_address}} (referential)

  md-list-item
    md-icon(md-font-icon='mdi mdi-map-marker')
    div(class='md-list-item-text')
      p {{'MAP.END_ADDRESS' |translate | capitalize}}
      h3 {{gmap.panelData.end_address}} (referential)
