section(class='input-figure')

	ye-cover(
		md-theme = '{{inputFigure.mdTheme}}'
		picture = '{{inputFigure.cover}}'
		class = 'drop'
		nv-file-drop = ""
		uploader = 'inputFigure.uploader')

	div(nv-file-over='' uploader='inputFigure.uploader'
		over-class='over md-whiteframe-z4')

	div(class='input-figure__action')

		md-button(class='md-fab md-accent')
			md-icon(md-font-icon='mdi mdi-camera')

		input(type='file' nv-file-select='' uploader='inputFigure.uploader')
