div(ng-if = '!list.loaded' class = 'content-spinner fx-speed-300 fx-fade-down')
  md-progress-circular(md-mode="indeterminate")

div(ng-if = 'list.loaded && list.fail' class = 'fx-speed-300 fx-fade-up pt-8 pb-8')
  md-subheader(class='md-no-sticky') {{list.errCodeI18n | translate: {modulePluralName: list.pluralName} | capitalize}}

div(ng-if = 'list.loaded && list.items.original.length === 0' class = 'fx-speed-300 fx-fade-up pt-8 pb-8')
  md-subheader(class='md-no-sticky') {{'ITEMS.NONE' | translate: {modulePluralName: list.pluralName} | capitalize}}

section(ng-if = 'list.loaded && !list.fail' class='fx-speed-300 fx-fade-up')

  md-list(
    ng-if='list.module && list.module.crud.r'
    ng-show = 'list.items.original.length > 0'
    ng-class='(list.module.listType == "table") ? "mdx-list" : ""')

    section(ng-show='list.module.listType == "table"'
      class='mdx-list__section--head fx-speed-300 fx-fade-down')

      div(ng-if='list.items.list[0].photo || list.items.list[0].letter' class='photo')
      div(ng-repeat='(field, value) in list.items.table[0]'
        ng-if='field !="id" && field !="photo"  && field != "photoImage" && field != "letter"'
        class='md-subheader md-{{list.module.name}}-theme md-primary d-tc')
        | {{'FIELDS.' + field | uppercase | translate | capitalize}}

    md-list-item(
      ng-repeat-start='item in list.items.list | limitTo: list.module.rowsNumber'
      ng-init = 'indexCurrentRow = $index; list.showSubItems[indexCurrentRow] = false'
      ng-click='list.showItem($event, item, list.items)'
      ng-class='[list.linesClass, list.actions.length > 0 ? "with-actions" : ""]'
      class='mdx-list__section--body fx-speed-300 fx-fade-up')

      img(
        ng-if='item.photo'
        ng-src='{{item.photoImage}}'
        ng-init="list.getPhoto(item, list.module.pluralName)"
        class="md-avatar mt-0 mb-0"
        alt="{{item.title}}")

      md-icon(
        ng-if='item.icon'
        md-font-icon='mdi mdi-{{item.icon}}'
        class='fab')

      md-button(
        ng-if='item.letter'
        aria-label='{{item.letter}}'
        class="md-fab md-mini bs-n md-primary mt-0 mb-0 ml-0 mr-16"
        md-no-ink='') {{item.letter | limitTo:2}}

      div(class= 'md-list-item-text' ng-show='list.module.listType == "list"')
        h3 {{item.title | uppercase | translate | capitalize }}
        h4(ng-if='list.linesClass == "md-3-line"') {{ item.subtitle || '' | capitalize }}
        p {{item.description || '' | capitalize }}

      div(
        ng-show='list.module.listType == "table"'
        ng-repeat='(field, value) in list.items.table[$index]'
        ng-if='field !="id" && field !="photo"  && field !="photoImage"'
        class='mdx-list__section__field') {{value | capitalize}}

      section(ng-show='list.actions.length > 0' mdx-list-multiple-actions='')

        md-menu(ng-if='list.actions.length >= 2' md-position-mode="target-right target")
          md-button(class='md-icon-button' aria-label="Open menu" ng-click="$mdOpenMenu()")
            md-icon(md-menu-origin="", md-font-icon="mdi mdi-dots-vertical")
          md-menu-content
            md-menu-item(ng-repeat="action in list.actions")
              md-button(ng-click="action.click($event, item, list.items)")
                span {{ action.name == 's' ? list.showSubItems[indexCurrentRow] ? 'ITEMS.HIDE' : 'ITEMS.SHOW' : 'crud.' + action.name | uppercase | translate:{modelPluralName: action.modelPluralName} | capitalize}}
                //span {{ 'crud.' + action.name | uppercase | translate | capitalize}}

        md-button(
          ng-show='list.actions.length == 1'
          ng-click='list.actions[0].click($event, item, list.items)'
          aria-label='action'
          class='md-icon-button')
          md-icon(md-font-icon='mdi' ng-class='list.actions[0].icon')

    div(ng-repeat-end=''
      ng-init = 'list.transclude(item.id, list.items.original, $index)'
      ng-show = 'list.showSubItems[$index]' class = 'mt-4 mb-4 bt bb inset-list')
      md-toolbar(class='md-hue-3')
      aside
