md-dialog(aria-label = 'mdDialog')

  md-dialog-content
    h2(class = 'md-title m-0')
      | {{'DELETE_TITLE' | translate:{moduleItem: deleteModal.item.title} | capitalize }}
    p 
      | {{'DELETE_CONTENT' | translate | capitalize }}

  div(class = 'md-actions')

    md-button(
      ng-click = 'deleteModal.close()'
      aria-label = 'close settings'
    )
      | {{'CANCEL' | translate | capitalize }}

    md-button(
      ng-click = 'deleteModal.delete(deleteModal.item, deleteModal.pluralName)'
      class = 'md-warn'
      aria-label = 'close settings'
    )
      | {{'DELETE' | translate | capitalize }}
