md-toolbar(class = 'br-1100 z-1')

  div(class = 'md-toolbar-tools pr-8')

    md-button(
      md-no-ink=''
      class = 'md-icon-button'
      aria-label = '{{"models." + moduleToolbar.module.name + "_icon" | uppercase | translate | capitalize}}')
      md-icon(md-font-icon = 'mdi mdi-{{moduleToolbar.module.icon}}')

    span(class = 'ml-16') {{'MODEL.PLURAL.' + moduleToolbar.module.name | uppercase | translate | capitalize}}

    span(flex='')

    section(ng-transclude layout='')
