ye-cover(picture="{{yeSettings.dataUser.photo}}")

section(class='md-whiteframe-z1')

  md-subheader(class="md-no-sticky md-primary")
    | {{'SETTINGS.PERSONAL_DATA'| translate | capitalize}}

  md-list

    md-list-item(class='md-2-line')
      md-icon(md-font-icon='mdi mdi-account')
      div(class='md-list-item-text')
        p {{'SETTINGS.FULL_NAME' | translate | capitalize}}
        h3 {{yeSettings.dataUser.fullName | capitalizeAll}}

    md-list-item(class='md-2-line')
      md-icon(md-font-icon='mdi mdi-cake')
      div(class='md-list-item-text')
        p {{'SETTINGS.BIRTHDAY_DATE' | translate | capitalize}}
        h3 {{yeSettings.dataUser.birthdayDate | date}}

  div(ng-if = '!yeSettings.dataUser.initialize')
    md-subheader(class="md-no-sticky md-primary")
      | {{'SETTINGS.USER_DATA'| translate | capitalize}}

  md-list(ng-if = '!yeSettings.dataUser.initialize')

    md-list-item(class='md-2-line')
      md-icon(md-font-icon='mdi mdi-account')
      div(class='md-list-item-text')
        p {{'USERNAME' |translate|capitalize }}
        h3 {{yeSettings.dataUser.username | capitalize}}

    md-list-item(class='md-2-line')
      md-icon(md-font-icon='mdi mdi-calendar')
      div(class='md-list-item-text')
        p {{'SETTINGS.CREATION_DATE' |translate|capitalize }}
        h3 {{yeSettings.dataUser.creation_date | date}}

  md-subheader(class="md-no-sticky md-primary")
    | {{'SETTINGS.APP'| translate | capitalize}}

  md-list
    md-list-item(class='md-2-line')
      md-icon(md-font-icon='mdi mdi-flag' class='ml-0')

      div(ng-if="yeSettings.dataUser.settings.langsAvaibles.length == 1" class='md-list-item-text')
        p {{'LANGUAGES.PREFERRED_LANGUAGE' | uppercase | translate | capitalize}}
        h3 {{'LANGUAGES.' + yeSettings.dataUser.settings.preferredLanguage | uppercase | translate | capitalize}}

      p(ng-if="yeSettings.dataUser.settings.langsAvaibles.length > 1")
        | {{'LANGUAGES.PREFERRED_LANGUAGE' | uppercase | translate | capitalize}}

      md-select(
        
        ng-if="yeSettings.dataUser.settings.langsAvaibles.length > 1"
        ng-class='{"disabled": yeSettings.dataUser.initialize}'
        ng-model="yeSettings.dataUser.settings.preferredLanguage",
        ng-change='yeSettings.changePreferredLanguage(yeSettings.dataUser.settings.preferredLanguage)'
        class='m-0 p-0')
        md-select-label
          | {{'LANGUAGES.' + yeSettings.dataUser.settings.preferredLanguage | uppercase | translate | capitalize}}
        md-option(ng-repeat='lang in yeSettings.dataUser.settings.langsAvaibles' ng-value='lang')
          | {{'LANGUAGES.' + lang | uppercase | translate | capitalize}}
