md-input-container(ng-show = 'showInput' class = 'mr-16 ml-16 mt-8 pb-16')

  md-icon(ng-if='icon' md-font-icon = 'mdi mdi-{{icon}}')

  label(ng-if='!icon') {{label | uppercase | translate | capitalize}}

  input(
    ng-if = 'icon'
    ng-model="model"
    ng-model-options = '{updateOn: "default blur", debounce: {default: 500, blur: 0}}'
    ng-required = "required"
    name="{{name}}"
    type="{{type}}"
    placeholder = '{{label | uppercase | translate | capitalize}}')

  input(
    ng-if = '!icon'
    ng-model = "model"
    ng-model-options = '{updateOn: "default blur", debounce: {default: 500, blur: 0}}'
    ng-required = "required"
    name = "{{name}}"
    type = "{{type}}")

  span aa {{model}}

  div(
    ng-messages="form[name].$error"
    ng-show="(form[name].$dirty && form[name].$invalid)")
    div(ng-message="required") {{'FORM.REQUIRED' | translate | capitalize}}
