form(name="form" novalidate='' md-theme='trabajador' class='model-form')

  section
    md-subheader(class='md-no-sticky md-primary') {{'SENTENCES.PERSONAL_DATA' | translate | capitalize}}
    md-divider(class='md-primary')

  //- PERSONAL DATA SECTION
  input-picture(photo="mForm.form.persona.photo" storage='personas'
    cover='mForm.cover' md-theme='trabajador')

  ye-input(label='FIELDS.FIRST_NAME' field='persona.firstName' required)
  ye-input(label='FIELDS.MIDDLE_NAME' field='persona.middleName' required)
  ye-input(label='FIELDS.LAST_NAME' field='persona.lastName' required)
  ye-input(label='FIELDS.SECOND_LAST_NAME' field='persona.secondLastName' required)
  ye-input(label='FIELDS.EMAIL' field='persona.email' required type='email')
  ye-input(label='FIELDS.BIRTHDAY_DATE' field='persona.birthdayDate' required
    type='date' theme='trabajador' min='{{mForm.formAux.birthdayDateMin}}'
    max='{{mForm.formAux.birthdayDateMax}}')
  //- identity document
  md-input-container: md-select(ng-model='mForm.form.persona.identityDocument.type'
    placeholder='{{"FIELDS.IDENTITY_DOCUMENT" | translate | capitalize}}'
    required='')
    md-option(value="dni") {{'FIELDS.DNI' | translate | capitalize}}
    md-option(value="fp") {{'FIELDS.FP' | translate | capitalize}}

  ye-input(ng-if='mForm.form.persona.identityDocument.type == "dni"' name='DNI_NUMBER'
    label='FIELDS.DNI_NUMBER' field='persona.identityDocument.number' required maxlength='8' type='number')

  ye-input(ng-if='mForm.form.persona.identityDocument.type == "fp"' name='FP_NUMBER'
    label='FIELDS.FP_NUMBER' field='persona.identityDocument.number' required type='number')

  //-sex
  md-input-container
    md-radio-group(ng-model="mForm.form.persona.sex" layout='' required='' name='sex')
      md-radio-button(value="male") {{'FIELDS.MALE' | translate | capitalize}}
      md-radio-button(value="female") {{'FIELDS.FEMALE' | translate | capitalize}}

  //- -worker data
  section
    md-divider(class='md-primary')
    md-subheader(class='md-no-sticky md-primary') {{'SENTENCES.WORKER_DATA' | translate | capitalize}}
    md-divider(class='md-primary')

    div(layout-gt-sm='' )
      //- contratation date
      ye-input(label='FIELDS.CONTRATATION_DATE' field='trabajador.contratationDate'
        required type='date' theme='trabajador' min='{{mForm.formAux.contratationDateMin}}'
        max='{{mForm.formAux.contratationDateMax}}' flex-sm='100' flex-gt-sm='50')

      //cargo
      md-input-container(flex-sm='100' flex-gt-sm='50')
        md-select(ng-model='mForm.form.trabajador.cargoId' required=''
          placeholder='{{"MODEL.CARGO" | translate | capitalize}}'
          md-on-open="mForm.loadCargos()" aria-label='select cargo')
          md-optgroup(label='{{area.name}}' ng-repeat='area in mForm.areas')
            md-option(ng-value='cargo.id' ng-repeat='cargo in area.cargos')
              | {{cargo.name | uppercase | translate | capitalize}}

    //-remuneration
    md-input-container(class='pb-0')
      md-radio-group(ng-model="mForm.form.remuneration.payType" layout=''
        required='' name='payType' ng-change='mForm.payType()')
        md-radio-button(value="planilla") {{'planilla' | translate | capitalize}}
        md-radio-button(value="honorarios") {{'honorarios' | translate | capitalize}}

    div(ng-if='mForm.form.remuneration.payType' layout='' layout-wrap='')
      //-wages
      ye-input(flex-sm='100' flex-md='50' flex-gt-md='33' label='FIELDS.WAGES'
        field='remuneration.wages' required type='number')

      //-payday
      md-input-container(flex-sm='100' flex-md='50' flex-gt-md='33')
        md-select(ng-model='mForm.form.remuneration.payday'
          placeholder='{{"FIELDS.PAYDAY" | translate | capitalize}}' required='' flex='50')
          md-option(ng-repeat='day in mForm.formAux.days' ng-value='day') {{day}}

      //- Only PLANILLA
      ye-input(ng-if='mForm.form.remuneration.payType == "planilla"'
        label='FIELDS.NUM_PLANILLA' field='remuneration.numPlanilla'
        flex-sm='100' flex-md='50' flex-gt-md='33' required type='number')

      md-input-container(ng-if='mForm.form.remuneration.payType == "planilla"' flex='100' class='pb-4')
        md-radio-group(ng-model="mForm.formAux.jubilationType" ng-change='mForm.jubilation()' layout=''
          required='' name='jubilation')
          md-radio-button(value="snp") {{'FIELDS.SNP' | translate | capitalize}}
          md-radio-button(value="afp") {{'FIELDS.AFP' | translate | capitalize}}

      //-AFP
      md-input-container(ng-if='mForm.form.remuneration.payType == "planilla" && mForm.formAux.jubilationType == "afp"' flex='50')
        md-select(ng-model='mForm.form.remuneration.afpId' required=''
          placeholder='{{mForm.form.remuneration.afp ? mForm.form.remuneration.afp.name : "FIELDS.SELECT_AFP" | translate | capitalize}}'
          md-on-open="mForm.loadAfps()" aria-label='select afp' class='mt-0')
          md-option(ng-value='afp.id' ng-repeat='afp in mForm.afps')
            |{{afp.name | uppercase | translate | capitalize}}

      ye-input(ng-if='mForm.form.remuneration.payType == "planilla"'
        flex='100' required checkbox class='mb-8'
        label='FIELDS.APORTATION_FAMILIAR' field='remuneration.aportationFamiliar')

  //- user section
  section

    md-divider(class='md-primary')
    md-subheader(class='md-no-sticky md-primary') {{'SENTENCES.USER_DATA' | translate | capitalize}}
    md-divider(class='md-primary')

    ye-input(label='FIELDS.ADD_USER' field='auxAddUser' required checkbox aux)

    div(ng-if='mForm.formAux.auxAddUser' class='model-form__section')
      ye-input(label='FIELDS.USERNAME' field='user.username' required)
      ye-input(label='FIELDS.PASSWORD' field='user.passsword' required type='password')
      ye-input(label='FIELDS.RE_PASSWORD' field='user.rePassword' required type='password' aux)

    //- roles
    md-subheader(ng-if='mForm.formAux.auxAddUser' class="md-no-sticky")
      | {{'MODEL.PLURAL.ROLE' | translate | capitalize}}
    section(ng-if='mForm.formAux.auxAddUser' layout='')
      md-input-container(checkbox='' flex-sm='50' flex-md='33' flex-gt-md='25')
        md-checkbox(ng-repeat='role in mForm.roles' aria-label="{{role.name}}"
          ng-model='mForm.formAux.roles[role.id]') {{role.name | capitalize}}

      md-subheader(class="md-no-sticky")
        | {{'FIELDS.LANGUAGES_AVAIBLES'| translate | capitalize}}

      //- LANGUAGES AVAIBLES
      md-input-container(checkbox='')
        md-checkbox(ng-repeat='translate in mForm.languages'
          ng-model="mForm.formAux.langsAvaibles[translate]" aria-label="check language"
          ng-change='mForm.userLanguagesChange(mForm.form.settings.preferredLanguage)')
          | {{'LANGUAGES.' + translate | uppercase | translate| capitalize}}

      //- PREFERRED_LANGUAGE
      md-input-container(class='pl-16 pr-16')
        md-select(ng-model="mForm.form.settings.preferredLanguage"
          class='m-0' aria-label='preferred language for new user' required=''
          placeholder='{{mForm.form.settings.preferredLanguage ? "LANGUAGES." + mForm.form.settings.preferredLanguage : "FIELDS.PREFERRED_LANGUAGE" | uppercase | translate | capitalize}}')
          md-option(ng-repeat='(lang, status) in mForm.formAux.langsAvaibles'
            ng-if='status', ng-value='lang') {{'LANGUAGES.' + lang | uppercase | translate | capitalize}}

  form-actions(ctrl='mForm')
