md-card(ng-init='thisModelList = trabajadorList' md-theme='trabajador')

  module-toolbar(module='thisModelList.module')

    md-button(
      ng-if='thisModelList.module.crud.r'
      ng-init='thisModelList.module.listType = "list"'
      ng-click = 'thisModelList.toggleTypeListCard()'
      class = 'md-icon-button'
      aria-label = 'new item')
      md-icon(md-font-icon = 'mdi mdi-{{thisModelList.module.listType === "table" ? "format-list-bulleted" : "view-list"}}')

    md-button(
      ng-if='thisModelList.module.crud.c'
      ng-click = 'thisModelList.createItem($event)'
      class = 'md-icon-button'
      aria-label = 'new item')
      md-icon(md-font-icon = 'mdi mdi-plus')

    md-button(
      ng-init='thisModelList.toggleStatus = true'
      ng-click = 'thisModelList.toggleCard()'
      ng-show='thisModelList.module.crud.r'
      class = 'md-icon-button'
      aria-label='toggle card')
      md-icon(
        md-font-icon = 'mdi'
        ng-class = 'thisModelList.toggleStatus ? "mdi-chevron-up" : "mdi-chevron-down"')

  //
    mdx-list(
      ng-if='thisModelList.module.crud.r'
      module ='thisModelList.module'
      ng-show='thisModelList.toggleStatus'
      data='thisModelList.data()'
      show='thisModelList.showItem(evt, item, items)'
      update='thisModelList.updateItem(evt, item, items)'
      delete='thisModelList.deleteItem(evt, item, items)')
