ye-cover-consama(photo='{{trabajadorShow.item.persona.photo}}'
  photo-container='personas')

md-tabs(md-theme='trabajador' md-dynamic-height='' md-border-bottom='' md-center-tabs='')

  md-tab(label="one")

    md-tab-label
      md-icon(md-font-icon='mdi mdi-account')

    md-tab-body
      md-list

        md-list-item(class= 'md-2-line'): div(class= 'md-list-item-text')
          p(class='mb16') {{'FIELDS.FULL_NAME' | translate | capitalize}}
          h3 {{trabajador.persona.firstName + ' ' + (trabajador.persona.middleName || '') + ' ' + trabajador.persona.lastName + ' ' + trabajador.persona.secondLastName | capitalizeAll}}

        md-list-item(class= 'md-2-line'): div(class= 'md-list-item-text')
          p(class='mb16') {{trabajador.persona.identityDocument.type | translate | capitalize}}
          h3 {{trabajador.persona.identityDocument.number | capitalize}}

  md-tab(label="one")
    md-tab-label
      md-icon(md-font-icon='mdi mdi-worker')
    md-tab-body
      md-list

        md-list-item(class='md-2-line')
          div(class= 'md-list-item-text')
            p(class='mb16') {{'MODEL.PLURAL.ROLE' | translate | capitalize}}
            h3(ng-repeat='role in trabajador.roles') {{role.name | capitalize}}

        md-list-item(class='md-2-line'
          ng-if='trabajador.remuneracion.payType == "planilla"')
          div(class= 'md-list-item-text')
            p {{'NUM_PLANILLA' | translate | capitalize}}
            h3 {{trabajador.remuneracion.numPlanilla}}

        md-list-item(class='md-2-line')
          div(class= 'md-list-item-text')
            p(class='mb16') {{'FIELDS.WAGES' | translate | capitalize}}
            h3 {{trabajador.remuneracion.wages}}

        md-list-item(class='md-2-line')
          div(class= 'md-list-item-text')
            p(class='mb16') {{'FIELDS.PAYDAY' | translate | capitalize}}
            h3 {{trabajador.payday | date}}

        md-list-item(class='md-2-line')
          div(class= 'md-list-item-text')
            p(class='mb16') {{'FIELDS.CONTRATATION_DATE' | translate | capitalize}}
            h3 {{trabajador.contratationDate | date}}

  md-tab(label="one")

    md-tab-label
      md-icon(md-font-icon='mdi mdi-account-key')

    md-tab-body

      md-subheader(class='md-no-sticky' ng-hide='trabajador.user.username')
        | {{'WARN.NOT_USER' | translate | capitalize}}

      md-list(ng-show='trabajador.user.username')

        md-list-item(class= 'md-2-line'): div(class= 'md-list-item-text')
          p(class='mb16') {{'FIELDS.USERNAME' | translate | capitalize}}
          h3 {{trabajador.user.username | lowercase}}

        md-list-item(class= 'md-2-line'): div(class= 'md-list-item-text')
          p(class='mb16') {{'FIELDS.CREATION_DATE' | translate | capitalize}}
          h3 {{trabajador.user.created | date}}
