-var cover404 = require('./../assets/images/offline.jpg')

section(layout-gt-sm="row" layout-align="center center")

	md-card(flex-gt-sm="75" flex-gt-md="50")

		ye-cover(picture='#{cover404}' class = 'br-1100')

		md-subheader(class='md-warn md-no-sticky')
			| {{'OFFLINE.API_CONSAMA_OFFLINE.TITLE' | translate | uppercase }}
		p(class='m-0 pl-16 pr-16')
			| {{'OFFLINE.API_CONSAMA_OFFLINE.MESSAGE' | translate | capitalize }}

		md-list

			md-list-item
				md-icon(md-font-icon='mdi mdi-phone')
				p #995631274

			md-list-item
				md-icon(md-font-icon='mdi mdi-phone')
				p #988989898

			md-list-item
				md-icon(md-font-icon='mdi mdi-email')
				p soporte@yetsu.com
