form(name = "form" novalidate = '' md-theme='cliente' class = 'model-form')

  md-radio-group(ng-model='mForm.formAux.type')
    ye-input(label='MODEL.CLIENTE' field='isCliente' value='1' required radio)
    ye-input(label='MODEL.EMPRESA' field='isEmpresa' value='2' required radio)

  section(ng-if='mForm.formAux.type ==1')
    ye-input(label='FIELDS.FIRSTNAME' field='firstName' required)

  section(ng-if='mForm.formAux.type ==2')
    ye-input(label='FIELDS.COMERCIALNAME' field='comercialName' required)

  form-actions(ctrl='mForm')
