ye-cover(picture = '{{user.getPhoto}}')

md-list

  md-list-item(class= 'md-2-line'): div(class= 'md-list-item-text')
    p(class = 'mb16') {{'USERS_SECTION.USERNAME' | translate | capitalize}}
    h3 {{user.item.username | capitalize}}
