form(name = "form" novalidate = '')

  input-picture(photo = "userForm.form.photo" storage = 'empresas'
    cover='userForm.cover')

  //- roles
  md-subheader(class="md-no-sticky pl-0")
    | {{'MODEL.PLURAL.ROLE' | translate | capitalize}}

  //-roles
  md-input-container(class='pl-8 pr-16 pb-0')
    md-checkbox(ng-repeat='role in userForm.roles'
      aria-label="{{role.name}}"
      ng-model='userForm.formAux.roles[role.id]')
      | {{role.name | capitalize}}

  //-username
  md-input-container(class='')

    label {{'FIELDS.USERNAME' | uppercase | translate | capitalize}}

    input(
      ng-model='userForm.form.username'
      ng-model-options='{updateOn: "default blur", debounce: {default: 500, blur: 0}}'
      required='' name='username')

    div(ng-messages = "form.username.$error"
      ng-show = "form.username.$dirty && form.username.$invalid")
      div(ng-message="required")
        | {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  //-password
  md-input-container(class='')

    label {{'FIELDS.PASSWORD' | uppercase | translate | capitalize}}

    input(
      ng-model='userForm.form.password'
      ng-model-options='{updateOn: "default blur", debounce: {default: 500, blur: 0}}'
      required='' name='password')

    div(ng-messages = "form.password.$error"
      ng-show = "form.password.$dirty && form.password.$invalid")
      div(ng-message="required")
        | {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  //-password2
  md-input-container(class='')

    label {{'FIELDS.RE_PASSWORD' | uppercase | translate | capitalize}}

    input(
      ng-model='userForm.formAux.password'
      ng-model-options='{updateOn: "default blur", debounce: {default: 500, blur: 0}}'
      required='' name='password2')

    div(ng-messages = "form.password2.$error"
      ng-show = "form.password2.$dirty && form.password2.$invalid")
      div(ng-message="required")
        | {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  section(layout = "row", layout-align = "end center")
    md-button(ng-click='userForm.save(form)' class="md-accent mr-16 mt-8"
      aria-label="login")
      | {{'ACTIONS.' + (userForm.update ? 'UPDATE': 'REGISTER') | translate | capitalize}}
