md-dialog(aria-label='map' md-theme='{{vm.theme}}' class='dialog--map')

	md-toolbar(id='dialog-toolbar')
		div(class= 'md-toolbar-tools')
			span {{'SENTENCES.ASSIGN_ROUTE_FOR' | translate:{vehicle: vm.camion.licensePlate} | capitalize}}

	section(class='md-content')
		form(name = "form" novalidate = '' class = 'model-form' layout='' layout-wrap)

			md-select(placeholder="{{'FIELDS.PICK_DRIVER' | translate | capitalize}}"
				ng-model="trabajadorId" md-on-open="vm.loadChoferes()" flex='50' class='pl-16')
				md-option(ng-value="chofer.id" ng-repeat="chofer in vm.choferes")
					| {{chofer.persona.firstName + ' '+ chofer.persona.lastName}}

			ye-input(label='fields.freight' field='freight' required flex='50')

			div(layout='' layout-align='start center' flex='50')

				md-select(placeholder="{{'FIELDS.PICK_ITEM' | translate: {moduleName: vm.tCliente} | capitalize}}"
					ng-model="clienteId" md-on-open="vm.loadClientes()" flex='' class='pl-16 mt-4')
					md-option(ng-value="cliente.id" ng-repeat="cliente in vm.clientees")
						|{{cliente.firstName ?
						| cliente.persona.firstName + ' '+ cliente.persona.lastName :
						| cliente.comercailName}}
				md-button(ng-click='vm.createCliente()' class='md-icon-button ml-16')
					md-tooltip(md-direction='right' md-autohide='')
						| {{'ITEM.CREATE' |translate: {moduleName: vm.tCliente} |capitalize}}
					md-icon(md-font-icon='mdi mdi-plus')

			ye-input(date theme='venta' label='fields.dateStart' field='date_start' required flex='50')

		div(ng-if='vm.camion.ubication')
			gmap(ng-model='vm.camion.ubication' in-dialog='' route='')

	section(class='md-actions')
		md-button(ng-click="vm.cancel()" aria-label="Cancel") {{'CANCEL' | translate | uppercase}}
		md-button(ng-disabled='vm.disabled' ng-click="vm.save(vm.modelValue)" aria-label="Save") {{'SAVE' | translate | uppercase}}
