md-card(ng-init='thisModelList = ventaList'
  md-theme='{{::thisModelList.module.name}}')

  module-toolbar(module='thisModelList.module')

    md-button(
      ng-if='thisModelList.module.crud.r'
      ng-init='thisModelList.module.listType = "list"'
      ng-click = 'thisModelList.toggleTypeListCard()'
      class = 'md-icon-button'
      aria-label = 'new item'
    )
      md-icon(md-font-icon = 'mdi mdi-{{thisModelList.module.listType === "table" ? "format-list-bulleted" : "view-list"}}')

    md-button(
      ng-if='thisModelList.module.crud.c'
      ng-click = 'thisModelList.createItem($event)'
      class = 'md-icon-button'
      aria-label = 'new item'
    )
      md-icon(md-font-icon = 'mdi mdi-plus')

    md-button(
      ng-init='thisModelList.toggleStatus = true'
      ng-click = 'thisModelList.toggleCard()'
      ng-show='thisModelList.module.crud.r'
      class = 'md-icon-button'
      aria-label='toggle card'
    )
      md-icon(
        md-font-icon = 'mdi'
        ng-class = 'thisModelList.toggleStatus ? "mdi-chevron-up" : "mdi-chevron-down"')

  section
    md-button(ng-click='thisModelList.asignRoute($event)')
      | {{'SENTENCES.ASSIGN_ROUTE' | translate | capitalize}}
