div(ng-if='mForm.camiones.length == 0')
	md-subheader(class='md-no-sticky')
		| {{'ITEM.NONE' | translate: {moduleName: mForm.tCamionName} | capitalize}}

md-list(
	ye-scrollable=''
	ng-if='mForm.camiones.length > 0'
	ng-hide='mForm.showAssignRoute'
	class = 'mdx-list pl-16'
)

	section(class='mdx-list__section--head')
		div(class='photo')
		div(ng-repeat='field in ["licensePlate", "aka", "status", "ubication"]'
			class='md-subheader md-venta-theme md-primary d-tc')
			| {{'FIELDS.' + field | uppercase | translate | capitalize}}
		div(class='md-subheader md-venta-theme md-primary d-tc')
			| {{'SENTENCES.ASSIGN_ROUTE' | translate | capitalize}}

	md-list-item(
		class='mdx-list__section--body'
		ng-repeat='camion in mForm.camiones')

		img(
			ng-init='mForm.apiConsamaImg(camion)'
			ng-src='{{camion.photoImage}}'
			class="md-avatar mt-0 mb-0"
			alt="picture of {{camion.licensePlate}}")

		div(class='mdx-list__section__field') {{camion.licensePlate | uppercase}}
		div(class='mdx-list__section__field') {{camion.aka | capitalize}}
		div(class='mdx-list__section__field') {{camion.status === 2 ? 'in road' : camion.status === 1 ? 'enable' : 'disabled'}}
		div(class='mdx-list__section__field')
			md-button(class='md-icon-button ml-16' ng-click='mForm.getUbication($event, camion)')
				md-icon(md-font-icon='mdi mdi-map-marker'
					theme='venta' title='{{camion.licensePlate | uppercase}}')
		div(class='mdx-list__section__field')
			md-button(class="md-icon-button ml-16" ng-click='mForm.assignRoute($event, camion)'
				ng-disabled="camion.status === 0 || camion.status === 2" aria-label="assign route")
				md-icon(md-font-icon='mdi mdi-directions')

section(
	md-theme='{{mForm.theme}}'
	ng-if = 'mForm.showAssignRoute'
)

	form(name = "form" novalidate = '' class = 'model-form d-b p-r' layout='' layout-wrap)

		md-select(placeholder="{{'FIELDS.PICK_DRIVER' | translate | capitalize}}"
			md-theme='venta' ng-model="trabajadorId" md-on-open="mForm.loadChoferes()"
			flex='50' class='pl-16')
			md-option(ng-value="chofer.id" ng-repeat="chofer in mForm.choferes")
				| {{chofer.persona.firstName + ' ' + chofer.persona.lastName}}

		ye-input(label='fields.freight' field='freight' type='number' required flex='50')

		md-select(placeholder="{{'FIELDS.PICK_ITEM' | translate: {moduleName: mForm.tCliente} | capitalize}}"
			ng-model="clienteId" md-on-open="mForm.loadClientes()" flex='50'
			class='pl-16' md-theme='venta')
			md-option(ng-value="cliente.id" ng-repeat="cliente in mForm.clientes")
				|{{cliente.firstName ?
				| cliente.persona.firstName + ' ' + cliente.persona.lastName :
				| cliente.comercailName}}

		ye-input(type='date' theme='venta' label='fields.departure_date' field='departureDate'
			required flex='50' min ='{{mForm.minDate}}')

		div(ng-if='mForm.camion.ubication' flex='100')
			gmap(ng-model='mForm.camion.ubication' theme='venta' route='' in-dialog='')

		form-actions(ctrl='mForm')
