ye-cover(picture = '{{agregado.getPhoto}}')

md-list
  md-list-item(class= 'md-2-line')
    div(class= 'md-list-item-text')
      h4(class = 'mb16') {{'DESCRIPTION' | translate | capitalize}}
      h3 {{agregado.item.description | capitalize}}
