form(name = "form", novalidate = '' md-theme='agregado')

  input-picture(photo = "agregadoForm.form.photo", storage = 'agregados'
    cover='agregadoForm.cover')

  md-input-container(class = 'mr-16 ml-16 mt-8')
    label  {{'FIELDS.NAME' | translate | capitalize}}
    input(type="text", required="", name="name", ng-model="agregadoForm.form.name", ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }")
    div(ng-messages="form.name.$error", ng-show="(form.name.$dirty && form.name.$invalid)")
      div(ng-message="required") {{'FORM.FIELD_ERROR.REQUIRED' | translate | capitalize}}

  md-input-container(class = 'mr-16 ml-16')
    label {{'FIELDS.DESCRIPTION' | translate | capitalize}}
    textarea(name="description", ng-model="agregadoForm.form.description", columns="1", md-maxlength="140", ng-model-options="{ updateOn: 'default', debounce: {'blur': 200} }")
    div(ng-messages="form.description.$error", ng-show="(form.description.$dirty && form.description.$invalid)")
      div(ng-message="md-maxlength") {{'FORM.FIELD_ERROR.MAX_LENGHT' | translate: {max: 140} | capitalize}}
  //
    md-checkbox(ng-change='agregadoForm.ui.chxPrices(agregadoForm.ui.priceWrapper.show)'
      name='toggleAssignAlmacen' class='ml-16'
      ng-model='agregadoForm.ui.priceWrapper.show'
      ng-disabled = 'agregadoForm.empresas.length == 0 || agregadoForm.ui.priceWrapper.dirty')
      | {{'ASSIGN_ALMACENS' | translate | capitalize}}

      md-tooltip(md-direction='bottom' md-autohide='true' ng-if='agregadoForm.empresas.length == 0') {{'NON_ALMACENES' | translate | capitalize}}

  //Almacen
  ng-form(ng-repeat='priceWrapper in agregadoForm.ui.priceWrapper.items'
    ng-if='agregadoForm.ui.priceWrapper.show' name='{{"precioForm-" + $index}}'
    flex='100' novalidate='' class='bt d-b')

    section(class='pl-4' layout='')

      md-button(ng-click='agregadoForm.ui.addAlmacen(agregadoForm.ui.priceWrapper.items)'
        class='md-icon-button' aria-label='add almacen')
        md-icon(md-font-icon="mdi mdi-plus")

      md-select(class='pt-0 pl-0 pb-16 mt-4' ng-model='priceWrapper.almacen'
        md-on-close='agregadoForm.selectAlmacen(priceWrapper)'
        ng-class='{"disabled": priceWrapper.almacen.taken}'
        placeholder='{{"SELECT_ALMACEN" | translate | capitalize}}')
        md-optgroup(ng-repeat='empresa in agregadoForm.empresas'
          label='{{empresa.comercialName}}')
          div(ng-repeat='sucursal in empresa.sucursales')
            md-option(ng-repeat='almacen in sucursal.almacenes' ng-value='almacen')
              | {{almacen.name}}

    ng-form(name='{{"price" + $index}}' ng-repeat-start='price in priceWrapper.prices'
      layout='' layout-wrap='wrap' layout-align='start center' class='pl-4 pb-16')

      //price
      md-select(name="um" required="" class='p-0 ml-12 mr-16 w-100percent' 
        ng-model='price.um'
        ng-class='{"disabled": price.um.taken}'
        md-on-close='agregadoForm.selectPriceUm(price.um)'
        placeholder="{{'MODEL.UNIDADMEDIDA' | translate | capitalize}}" flex='')
        md-option(ng-repeat='um in priceWrapper.ums' ng-show='!um.taken'
          ng-value="um") {{ um.suffix }}

      md-input-container(md-no-float='' flex="" class = 'ml16 p-0')
        input(name="amount" ng-model="price.amount" type="number" required=""
          placeholder='amount' ng-model-options="{updateOn: 'default blur', debounce: {default: 200, blur: 200} }")

      md-button(class='md-icon-button md-icon-button--small mt-6 ml-8 mr-16'
        ng-click='agregadoForm.ui.removePrice($index, price, priceWrapper)'
        aria-label='remove price')
        md-icon(md-font-icon="mdi mdi-close")

    div(ng-repeat-end ng-if='$last && !agregadoForm.allUmsTaken(priceWrapper.ums)'
      layout='' layout-align='end center' class='pr-14')
      md-button(ng-click='agregadoForm.ui.addPrice(priceWrapper, price)'
        class='md-icon-button md-icon-button--small ml-12 mb-16' aria-label='remove price')
        md-icon(md-font-icon="mdi mdi-plus")

  //controls
  section(ng-if='agregadoForm.ui.priceWrapper.show' layout='' layout-align = 'start center' class = 'pr8 bt pl-4')

    md-button(ng-click = "agregadoForm.ui.addAlmacen(almacenForm, almacen)", aria-label="Add Almacen", class = 'md-icon-button')
      md-icon(md-font-icon="mdi mdi-factory")
      md-tooltip(md-direction = 'right', md-autohide = 'true') Insertar Almacen

    md-button(ng-click = "agregadoForm.newUm({ev: $event})", aria-label="Registrar unidad de medida", class = 'md-icon-button')
      md-icon(md-font-icon="mdi mdi-scale")
      md-tooltip(md-direction = 'right', md-autohide = 'true') Insertar Unidad de medida

  section(layout = "row", layout-align = "end center")
    md-button(ng-click='agregadoForm.save(form)' class="md-accent mr-16 mt-8"
      aria-label="login")
      | {{agregadoForm.update ? 'UPDATE': 'REGISTER' | translate | capitalize}}
