md-card(md-theme = 'role')

  module-toolbar(module='roleList.module')

    md-button(
      ng-if = 'roleList.moduleRole.crud.c'
      ng-click = 'roleList.createItem($event)'
      class = 'md-icon-button'
      aria-label = 'new Role'
    )
      md-icon(md-font-icon = 'mdi mdi-plus')

    md-button(
      ng-click = 'roleList.auxShowContent = !roleList.auxShowContent'
      class = 'md-icon-button'
      aria-label='toggle card'
    )
      md-icon(
        ng-init='roleList.auxShowContent=true'
        md-font-icon = 'mdi fx-speed-750'
        ng-class = 'roleList.auxShowContent ? "mdi-chevron-up" : "mdi-chevron-down"')

  section(ng-if='roleList.ready' ng-show='roleList.auxShowContent'
    class='fx-speed-300 fx-fade-down')

    mdx-list(module ='roleList.moduleRole' items = 'roleList.roles'
  		model = 'roleList.mRole' embed-module = 'roleList.moduleAcl'
      embed-model = 'roleList.mAcl' embed-ctrl = 'roleList')

      div(layout='' layout-align='space-between center' class='roles__crud bb')
        span {{'MODULE' | translate | capitalize}}
        div: span(
          ng-repeat='operation in ["create", "read", "update", "delete"]'
          class='roles__crud__titles' ) {{operation | limitTo: 1| uppercase | translate | capitalize}}
          md-tooltip {{operation | uppercase | translate | capitalize}}

      md-list(class='roles__modules')
        md-list-item(ng-repeat='module in item.modules' class='mt-0')
          p {{module.name | translate |capitalize}}
          md-checkbox(
            ng-repeat='operation in ["c", "r", "u", "d"]'
            ng-model = 'module.crud[operation]'
            ng-init = 'module.crud[operation] = item.name == "initialize" ? true : module.crud[operation]'
            ng-change = 'embed.ctrl.changeAcl(item, module, operation, module.crud[operation])'
            aria-label = 'crud action for {{item.name}}'
            ng-disabled="!embed.module.crud.u || item.name == 'initialize' ")
