form(name = "form", novalidate = '' md-theme='role')

  ye-input(label='MODEL.ROLE' field='name' required)
  ye-input(label='FIELDS.DESCRIPTION' field='description' required textarea pre-md-maxlength='140')
  ye-input(label='FIELDS.STATUS' field='status' required switch)

  form-actions(ctrl='mForm')
