form(novalidate='', name = 'loginForm')

  md-input-container(class = 'md-icon-float icon--message')
    label {{'LOGIN_SECTION.USERNAME' | translate | capitalize}}
    md-icon(md-font-icon = 'mdi mdi-account')
    input(ng-model = "login.data.username", name = 'username', required=''
      type = 'text')
    div(
      ng-messages="loginForm.username.$error"
      ng-show = "loginForm.username.$dirty && loginForm.username.$invalid")
      div(ng-message="required")
        |{{'FORM.FIELD_ERROR.REQUIRED' | translate}}

  md-input-container(class = 'md-icon-float icon--message')
    label {{'LOGIN_SECTION.PASSWORD'  | translate | capitalize}}
    md-icon(md-font-icon = 'mdi mdi-key')
    input(ng-model = "login.data.password", name = 'password', required='',
      type = "password")
    div(
      ng-messages="loginForm.password.$error"
      ng-show="(loginForm.password.$dirty && loginForm.password.$invalid)")
      div(ng-message="required")
        |{{'FORM.FIELD_ERROR.REQUIRED' | translate}}

  section(layout = "row", layout-align = "end center")
    md-button(ng-click = 'login.submit(loginForm)', class = "md-accent",  aria-label="login")
      | {{'LOGIN_SECTION.LOGIN_BUTTON'  | translate | capitalize}}
