ye-cover(picture='{{mShow.getPhoto}}' md-theme='flota' action-fn='mShow.getUbication(evt)' action-icon='map-marker')

md-list

  md-list-item(class= 'md-2-line')
    div(class= 'md-list-item-text')
      h4(class = 'mb16') {{'FIELDS.LICENSEPLATE' | translate | capitalize}}
      h3 {{mShow.item.licensePlate | capitalize}}
//
  gmap(ng-model='mShow.item.ubication'
    gm-standalone='' gm-show-marker='' gm-zoom = '16' flex='100'
    theme='empresa' gm-title = '{{mShow.item.licensePlate}}' gm-disable-default-u-i=''
    gm-no-zoom-control='' gm-no-draggable='')
