md-dialog(aria-label='map' md-theme='{{fieldOps.theme}}' class='dialog--map')

	md-toolbar(id='dialog-toolbar')
		div(class= 'md-toolbar-tools')
			span {{'FIELD.OPTIONS' | translate: {fieldName: fieldOps.fieldName} | capitalize}}

	section(class='md-content')

		md-list(layout layout-wrap)

			md-list-item(flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')
				p {{'FIELD.IS_REQUIRED' | translate | capitalize}}
				md-checkbox(ng-model='fieldOps.validations.isRequired')

			md-list-item(flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')
				p {{'FIELD.IS_NUMBER' | translate | capitalize}}
				md-checkbox(ng-model='fieldOps.validations.isNumber')

	section(class='md-actions bt')
		md-button(ng-click="fieldOps.cancel()" aria-label="Cancel") {{'CANCEL' | translate | uppercase}}
		md-button(ng-click="fieldOps.save(fieldOps.fieldNameOriginal, fieldOps.validations)" aria-label="Save")
			| {{'SAVE' | translate | uppercase}}
