form(name = "form" novalidate = '' md-theme='flota' class = 'model-form')

  md-subheader(class='md-no-sticky')
    | {{ 'SENTENCES.ENABLE_FLOTA_TYPE' | translate | capitalize}}

  md-list(layout layout-wrap)

    md-list-item(flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')
      md-icon(md-font-icon='mdi mdi-truck')
      p {{'FIELDS.TRUCK' | translate | capitalize}}
      md-checkbox(ng-model='mForm.formAux.type.camion' ng-change = 'mForm.changeType("camion", mForm.formAux.type.camion)')

    md-list-item(flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')
      md-icon(md-font-icon='mdi mdi-train')
      p {{'FIELDS.WEIGHT_MACHINE' | translate | capitalize}}
      md-checkbox(ng-model='mForm.formAux.type.maquinaria' ng-change = 'mForm.changeType("maquinaria", mForm.formAux.type.maquinaria)')

    md-list-item(flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')
      md-icon(md-font-icon='mdi mdi-car')
      p {{'FIELDS.CAR' | translate | capitalize}}
      md-checkbox(ng-model='mForm.formAux.type.carro' ng-change = 'mForm.changeType("carro", mForm.formAux.type.carro)')

    md-list-item(flex-sm='100' flex-md='50' flex-lg='33' flex-gt-lg='25')
      md-icon(md-font-icon='mdi mdi-motorbike')
      p {{'FIELDS.MOTORBIKE' | translate | capitalize}}
      md-checkbox(ng-model='mForm.formAux.type.moto' ng-change = 'mForm.changeType("moto", mForm.formAux.type.moto)')
