md-list

  md-list-item(ng-repeat-start = 'flota in flotaShow.items.list' class='pl-16 pr-8')
    md-icon(md-font-icon='mdi mdi-{{flota.icon}}' class='fab')
    p(ng-init = 'flotaShow.getType(flota.title, flota)')
      | {{'FLOTA.PLURAL.' + flota.title | uppercase | translate | capitalize}}
    md-button(
      ng-if = 'flota.showItems'
      ng-init='flota.toggle = true'
      ng-click='flota.toggle = !flota.toggle'
      aria-label='action'
      class='md-icon-button')
      md-icon(md-font-icon='mdi' ng-class='flota.toggle ? "mdi-chevron-up" : "mdi-chevron-down"')

  section(ng-repeat-end ng-if = 'flota.showItems')
    content-inside(ng-show='flota.toggle')

      mdx-list(items = 'flota.items' module ='flota.module'
        model = 'flota.model' model-name='{{flota.title}}')

      section(class='bt pr-6 pb-4 pt-4' layout = "row" layout-align = "end center")
        md-button(
          ng-click='flotaShow.createFlotaType($event, flota.title, flota)'
          aria-label='new flota item' class='md-icon-button')
          md-icon(md-font-icon='mdi mdi-plus')
